<style>
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 400px !important;
}
</style>
<div class="panel panel-content" style="margin-bottom: 0px;">
	<div class="panel-heading">
		<span> {{ngDialogData.title || "System Message"}} </span>
	</div>
	<div class="panel-body">
		<div class="text-center" style="min-height: 50px">
			<p>{{ngDialogData.message}}</p>
		</div>
		<div class="text-center">

			<button type="button" class="btn btn-content"
				ng-click="closeThisDialog('')">Close</button>
		</div>
	</div>
</div>
