body {
	background-repeat: repeat;
}

a {
	color: #800000;
}

a:hover {
	color: #004455;
}

.error {
	color: #990000 !important;
}

.navbar-myapp {
	border-radius: 0px !important;
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%)
		!important;
}

.panel-leftmenu>.panel-heading {
	color: #fff !important;
	background-image: linear-gradient(to bottom, #00aad4 0%, #006680 100%)
		!important;
	border-color: #7a7a52 !important;
}

.panel-leftmenu>.panel-body, .panel-leftmenu>.list-group>.list-group-item
	{
	background-image: linear-gradient(to bottom, #fff 0%, #eee 100%)
		!important;
}

.list-group {
	margin-bottom: 2px;
}

.list-group>.list-group-item {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.table tbody tr>th {
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%)
		!important;
	color: #fff;
	font-weight: normal !important;
}

.table tbody tr>td {
	background-image: linear-gradient(to bottom, #fff 0%, #eee 100%)
		!important;
	color: #444;
}

.table tbody tr>td.toolbar {
	background-image: linear-gradient(to bottom, #fff 0%, #d5f6ff 100%)
		!important;
}

.panel-content>.panel-heading {
	color: #fff !important;
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%)
		!important;
	border-color: #004455 !important;
	font-weight: normal !important;
}

.panel-content>.panel-heading a {
	text-decoration: none !important;
	color: #fff !important;
}

.panel-content>.panel-body {
	background-color: rgba(217, 217, 217, .3);
	border: 1px solid #222;
}

.panel-content2>.panel-heading {
	color: #fff !important;
	background-image: linear-gradient(to bottom, #939dac 0%, #535d6c 100%)
		!important;
	border-color: #939dac !important;
}

.panel-content2>.panel-heading a {
	text-decoration: none !important;
	color: #fff !important;
}

.panel-content2>.panel-body {
	background-color: rgba(217, 217, 217, .3);
	border: 1px solid #222;
}

.bg-content {
	background-image: -o-linear-gradient(top, #006680 0%, #004455 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006680),
		to(#004455));
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%);
	background-repeat: repeat-x;
	border-color: #004455;
	color: #fff;
}

.bg-content2 {
	background-image: -webkit-linear-gradient(top, #00aad4 0%, #006680 100%);
	background-image: -o-linear-gradient(top, #00aad4 0%, #006680 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00aad4),
		to(#006680));
	background-image: linear-gradient(to bottom, #00aad4 0%, #006680 100%);
	background-repeat: repeat-x;
	border-color: #006680;
	color: #ffff00;
}

.btn-content {
	background-image: -o-linear-gradient(top, #006680 0%, #004455 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006680),
		to(#004455));
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%);
	background-repeat: repeat-x;
	border-color: #004455;
	color: #fff;
}

.btn-content:hover, .btn-content:focus {
	background-image: -webkit-linear-gradient(top, #004455 0%, #006680 100%);
	background-image: -o-linear-gradient(top, #004455 0%, #006680 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#004455),
		to(#006680));
	background-image: linear-gradient(to bottom, #004455 0%, #006680 100%);
	background-repeat: repeat-x;
	border-color: #004455;
	color: #fff;
}

.btn-content2 {
	background-image: -webkit-linear-gradient(top, #00aad4 0%, #006680 100%);
	background-image: -o-linear-gradient(top, #00aad4 0%, #006680 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00aad4),
		to(#006680));
	background-image: linear-gradient(to bottom, #00aad4 0%, #006680 100%);
	background-repeat: repeat-x;
	border-color: #006680;
	color: #fff;
}

.btn-content2:hover, .btn-content2:focus {
	background-image: -webkit-linear-gradient(top, #006680 0%, #00aad4 100%);
	background-image: -o-linear-gradient(top, #006680 0%, #00aad4 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006680),
		to(#00aad4));
	background-image: linear-gradient(to bottom, #006680 0%, #00aad4 100%);
	background-repeat: repeat-x;
	border-color: #006680;
	color: #fff;
}

.required, input[required="required"], select[required="required"] {
	border-left: 5px solid #880000;
}

.tab-content {
	background: #fff;
	padding: 5px;
	min-height: 50px;
	overflow: auto;
}

.nav-tabs>li>a {
	background: #ccc;
	color: #000;
}

.alert {
	padding: 4px !important;
	margin-bottom: 10px !important;
	border-radius: 2px !important;
}

.form-row {
	border-bottom: 1px solid #ccc;
	padding: 2px 0px 4px 0px;
}

.tab-content {
	background: #fff;
	padding: 15px 10px 5px 10px;
	min-height: 50px;
	border: 1px solid #006680;
	border-top: 8px solid #004455;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
	background: rgba(68, 69, 70, 1) !important;
	color: #fff !important;
	border-left: 1px solid #000 !important;
	border-top: 1px solid #000 !important;
	border-right: 1px solid #000 !important;
	border-radius: 0px 0px 0 0 !important;
	padding: 5px 15px !important;
}

.nav-tabs>li>a:hover {
	background: rgba(0, 102, 128, .6) !important;
	color: #fff !important;
	border: 1px solid #006680 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	background: #006680 !important;
	background-image: linear-gradient(to bottom, #006680 0%, #004455 100%)
		!important;
	border-color: #004455 !important;
	color: #fff !important;
	border: 1px solid #004455 !important;
}

._720kb-datepicker-calendar._720kb-datepicker-open, ._720kb-datepicker-calendar._720kb-datepicker-forced-to-open{
    width: 230px !important;
}
a._720kb-datepicker-calendar-day{
    margin: 0px !important;
}