
<div class="lead" ng-show="links.length>0">
	<span ng-repeat="link in links">
		<a ng-if="link.url" href="" ng-click="navigateTo(link.url)">{{link.title}}</a>
		<span ng-if="!link.url">{{link.title}}</span>
		<span ng-if="$index<links.length-1">&gt;</span>
	</span>
</div>
