<div ng-controller="spCtlr">
	<div class="col-md-12" ng-if="!loading || loading==false">
		<section id="filter" ng-init="loadProducts()" class="col-md-12">
			<form>
				<div class="col-sm-5 col-md-4">
					<select class="form-control" ng-model="newCategory"
						ng-change="newSubcategory=''"
						ng-options="category.uid as category.description for category in categories">
						<option value="">-Select Category-</option>
					</select>
				</div>
				<div class="col-sm-5 col-md-4">
					<select class="form-control" ng-model="newSubcategory"
						ng-disabled="!newCategory"
						ng-options="subcategory.uid as subcategory.description for subcategory in subcategories  | filter:{categoryuid:newCategory, uid:''}">
						<option value="">-Select Subcategory-</option>
					</select>
				</div>
				<div class="col-sm-2 col-md-4">
					<button class="btn btn-content"
						ng-disabled="!newCategory || !newSubcategory"
						ng-click="addToCatalog(newCategory, newSubcategory)">Add</button>
				</div>
			</form>
		</section>
		<section id="catalogData">
			<div style="padding-top: 8px" class="col-sm-12 col-md-12">
				<div class="table-responsive" ng-init="loadSPCatalog()">
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th style="width: 140px">Category</th>
							<th style="width: 140px">Subcategory</th>
							<th>Locations</th>
							<th class="text-center" style="width: 120px">Status</th>
							<th class="text-center hidden-sm" style="width: 120px">Modified By</th>
							<th class="text-center hidden-sm" style="width: 120px">Modified On</th>
						</tr>
						<tr ng-if="loadingCatalog==true">
							<td colspan="6" class="text-center hidden-sm">Loading <i
								class="fa fa-spinner fa-spin"></i>
							</td>
							<td colspan="4" class="text-center hidden-md hidden-lg">Loading <i
								class="fa fa-spinner fa-spin"></i>
							</td>
						</tr>
						<tr
							ng-if="(!loadingCatalog || loadingCatalog==false) && (!myCatalog || myCatalog.length==0)">
							<td colspan="6" class="text-center">No Records Found</td>
						</tr>
						<tr ng-if="(!loadingCatalog || loadingCatalog==false)"
							ng-repeat="item in myCatalog | orderBy:['category', 'subcategory']">
							<td>{{item.category}}</td>
							<td>{{item.subcategory}}</td>
							<td><a href="" ng-click="showLocationsPopup(item)">
								{{item.locations }} Location Records</a></td>
							<td class="text-center">
								<div ng-if="item.active==-1">
									<i class="fa fa-spinner fa-spin"></i> Updating
								</div>
								<div>
									<a href="" ng-click="toggleCatalog(item, item.active)"> <kbd
											style="background-color: #006600" ng-if="item.active==1">Active</kbd>
										<kbd style="background-color: #990000" ng-if="item.active==0">Inactive</kbd>
									</a>
								</div>
							</td >
							<td class="text-center hidden-sm">{{item.modifiedby}}</td>
							<td class="text-center hidden-sm">{{item.modifiedon | date:'dd-MM-yyyy'}}</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>


</div>