<style>
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 800px !important;
}
</style>
<div class="panel panel-content">

	<div class="panel-heading">Service Locations</div>
	<div class="panel-body">

		<div class="col-sm-4"
			style="border-right: 1px solid #ccc; max-height: 300px;"
			ng-init="loadAllLocations()">
			<form class="small" name="popupForm">

				<div class="form-group">
					<label>Country</label> <select class="form-control" id="ddlCountry"
						ng-model="ngDialogData.country" required
						ng-options="c.country_uid as c.country_name for c in countries">
						<option value="">- Select Country -</option>
					</select>
				</div>
				<div class="form-group">
					<label>State</label> <select class="form-control"
						ng-model="ngDialogData.state" id="ddlState"
						ng-disabled="!ngDialogData.country"
						ng-options="s.state_uid as s.state_name for s in states | filter : {country_uid: ngDialogData.country}">
						<option value="">- All States -</option>
					</select>
				</div>
				<div class="form-group">
					<label>District</label> <select class="form-control"
						id="ddlDistrict" ng-model="ngDialogData.district"
						ng-disabled="!ngDialogData.state"
						ng-options="d.district_uid as d.district_name for d in districts | filter : {state_uid: ngDialogData.state}">
						<option value="">- All Districts -</option>
					</select>
				</div>
				<div class="form-group">
					<label>City</label> <select class="form-control" id="ddlCity"
						ng-model="ngDialogData.city" ng-disabled="!ngDialogData.district"
						ng-options="ct.city_uid as ct.city_name for ct in cities | filter : {district_uid: ngDialogData.district}">
						<option value="">- All Cities -</option>
					</select>
				</div>
				<div class="form-group pull-right">
					<button type="button" class="btn btn-content"
						ng-click="addLocation(ngDialogData)"
						ng-disabled="popupForm.$invalid"
						>Add</button>
					<button type="button" class="btn btn-content"
						ng-click="closeDialog()">Close</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8" style="max-height: 300px; overflow: auto;"
			ng-init="loadServiceLocations()">

			<table
				class="table table-striped table-bordered table-condensed small">
				<tr>
					<th class="text-center">State</th>
					<th class="text-center">District</th>
					<th class="text-center">City</th>
					<th style="width: 40px"></th>
				</tr>
				<tr ng-if="loadingServiceLocations==true">
					<td colspan="4" class="text-center"><i
						class="fa fa-spinner fa-spin"></i>Loading</td>
				</tr>
				<tr ng-if="(!serviceLocations || serviceLocations.length==0) && (!loadingServiceLocations || loadingServiceLocations==false)">
					<td colspan="4" class="text-center">No Locations Added</td>
				</tr>
				
				<tr ng-if="!loadingServiceLocations || loadingServiceLocations==false"
					ng-repeat="location in serviceLocations | orderBy: ['state', 'district', 'city']">
					<!-- <td colspan="4" class="text-center">{{location}}</td> -->
					<td>{{location.state || 'All'}}</td>
					<td>{{location.district || 'All'}}</td>
					<td>{{location.city || 'All'}}</td>
					<td class="text-center"><a href=""
						ng-click="removeSPCatalogLocation(ngDialogData, location)"><span
							class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
