<div class="container-fluid" ng-init="switchTab('info')">

	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="selectedTab=='info'?'active':''">
			<a href="javascript://" ng-click="switchTab('info')">Information</a>
		</li>
	</ul>
	<div ng-if="selectedTab=='info'" class="tab-content"
		ng-init="loadInfoTab()">

		<div ng-if="loading==true" class="text-center"
			style="min-height: 400px; vertical-align: bottom;">
			Loading <i class="fa fa-spinner fa-spin"></i>
		</div>


		<div ng-if="loading==false">
			<form class="form-horizontal">

				<div class="form-group" ng-if="user.uid">
					<label class="col-sm-2">UID</label>
					<div class="col-sm-10">
						<span>{{user.uid}}</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2">Name</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="txtName"
							placeholder="name" data-ng-model="user.name" required
							autofocus="autofocus">
					</div>
					<label class="col-sm-2">Organization</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="txtOrg"
							placeholder="organization name" data-ng-model="user.organization"
							autofocus="autofocus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2">Email</label>
					<div class="col-sm-4">
						<span>{{user.email}}</span>
						<button type="button" class="btn btn-default btn-sm pull-right" ng-click="editEmail()">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</div>
					<label class="col-sm-2">Email Verified</label>
					<div class="col-sm-4">
						{{user.emailverified==1 ? 'Yes' : 'No'}}

						<button type="button" class="btn btn-default btn-sm pull-right"
							ng-if="user.emailverified==0"
							ng-click="resendValidationEmail(user)"
							ng-disabled="eventinprogress == true">
							Resend Email <i
								ng-if="eventinprogress == true && eventmessage=='emailing'"
								class="fa fa-spinner fa-spin"></i>
						</button>

					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2">Mobile</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="txtMobile"
							placeholder="mobile number" data-ng-model="user.mobilenum"
							required>
					</div>
					<label class="col-sm-2">Mobile Verified</label>
					<div class="col-sm-4">
						{{user.mobileverified==1 ? 'Yes' : 'No'}}

						<button type="button" class="btn btn-default btn-sm pull-right"
							ng-if="user.mobileverified==0" ng-click="resendMobileOTP(user)"
							ng-disabled="eventinprogress == true">
							Send OTP <i
								ng-if="eventinprogress == true && eventmessage=='otp'"
								class="fa fa-spinner fa-spin"></i>
						</button>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2">Active</label>
					<div class="col-sm-4">
						<input type="checkbox" id="txtActive" data-ng-model="user.active"
							ng-true-value="1" ng-false-value="0">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label class="col-sm-2">Username</label>
					<div class="col-sm-4">
						<span>{{user.uname}}</span>
					</div>
					<label class="col-sm-2">Password</label>
					<div class="col-sm-4">
						<span ng-if="user.resetpwd==1">{{user.temp_pwd}} <em
							style="color: #c0c0c0">(Password change required during next
								login)</em></span> <span ng-if="user.resetpwd==0"> <em
							style="color: #c0c0c0">Password set by user</em></span>
						<button type="button" class="btn btn-default btn-sm pull-right"
							ng-click="resetPassword()" ng-disabled="eventinprogress == true">Reset <i
								ng-if="eventinprogress == true && eventmessage=='resetpwd'"
								class="fa fa-spinner fa-spin"></i></button>

					</div>
				</div>
				<hr>
				<div class="form-group">
					<label class="col-sm-2">Comments</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="5" placeholder="comments"
							data-ng-model="user.comments"></textarea>
					</div>
				</div>

				<hr>
				<div class="form-group" ng-if="user.uid">
					<label class="col-sm-2">Created By</label>
					<div class="col-sm-4">
						<span>{{user.createdby}}</span>
					</div>
					<label class="col-sm-2">Created On</label>
					<div class="col-sm-4">
						<span>{{user.createdon | date:'short'}}</span>
					</div>
				</div>
				<div class="form-group" ng-if="user.uid">
					<label class="col-sm-2">Modified By</label>
					<div class="col-sm-4">
						<span>{{user.modifiedby}}</span>
					</div>
					<label class="col-sm-2">Modified On</label>
					<div class="col-sm-4">
						<span>{{user.modifiedon | date:'short'}}</span>
					</div>
				</div>

				<hr>

				<div class="form-group text-center">
					<button type="button" class="btn btn-default"
						ng-click="saveInfoTab(user)" ng-disabled="eventinprogress == true">
						Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
							class="fa fa-spinner fa-spin"></i>
					</button>
					<button type="button" class="btn btn-default"
						ng-click="resetInfoTab()" ng-disabled="eventinprogress == true">Reset</button>
					<button type="button" class="btn btn-default"
						ng-click="navigateToUserList()"
						ng-disabled="eventinprogress == true">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
