<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="loadUsersList()">

	<breadcrumb class="col-sm-8" ng-model="bcArray"> </breadcrumb>
	<div class="col-sm-4">
		<button type="button" ng-if="utype=='LP' || utype=='SP'"
			class="btn btn-default pull-right"
			ng-click="navigateToNewUserDetails()">New</button>
	</div>

	<div class="col-sm-12">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="name"
						ng-model="filter.name">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="organization"
						ng-model="filter.organization">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="email"
						ng-model="filter.email">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="username"
						ng-model="filter.uname">
				</div>
				<div class="col-sm-2">
					<label class="col-sm-4">Active </label>
					<div class="col-sm-8">
						<select class="form-control" ng-model="filter.active">
							<option value="">All</option>
							<option value="1">True</option>
							<option value="0">False</option>
						</select>
					</div>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" ng-click="searchUserList(filter)">Search</button>
				</div>
			</div>
		</form>
	</div>


	<div class="col-sm-12 table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th style="width: 200px;">Name</th>
				<th style="width: 200px;">Organization</th>
				<th>Email</th>
				<th style="width: 150px;">Username</th>
				<th class="text-center" style="width: 80px;">Active</th>
				<th class="text-right" style="width: 120px;">Created On</th>
				<th class="text-right" style="width: 120px;">Modified On</th>
			</tr>

			<tr ng-if="loading == true">
				<td colspan="7" class="text-center">Loading <i
					class="fa fa-spinner fa-spin"></i></td>
			</tr>

			<tr ng-if="loading == false && users.length == 0">
				<td colspan="7" class="text-center">No Records Found</td>
			</tr>

			<tr ng-repeat="user in users | orderBy : 'name' track by $index"
				ng-if="loading==false">
				<td>{{user.name}}</td>
				<td>{{user.organization}}</td>
				<td>{{user.email}}</td>
				<td><a href="" ng-click="navigateToUserDetails(user.uid)">{{user.uname}}</a>
				</td>
				<td class="text-center"><span class="glyphicon"
					ng-class="user.active==1?'glyphicon-ok':'glyphicon-remove'"></span>
				</td>
				<td class="text-right">{{user.createdon | date:'dd-MM-yyyy'}}</td>
				<td class="text-right">{{user.modifiedon | date:'dd-MM-yyyy'}}</td>
			</tr>

		</table>

		<nav ng-if="totalpages>1 && loading==false">
			<ul class="pager">
				<li class="previous disabled" ng-if="!prevPage"><a href=""><span
						aria-hidden="true">&larr;</span> Previous</a></li>
				<li class="previous" ng-if="prevPage"><a href=""
					ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
						Previous</a></li>
				<li>Page {{pgnum}} of {{totalpages}}</li>
				<li class="next" ng-if="nextPage"><a href=""
					ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
				<li class="next disabled" ng-if="!nextPage"><a href="">Next
						<span aria-hidden="true">&rarr;</span>
				</a></li>
			</ul>
		</nav>
	</div>

</div>
