<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="readUserType('new')">
	<breadcrumb ng-model="bcArray"></breadcrumb>

	<div class="container-fluid" ng-init="switchTab('info')">

		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="selectedTab=='info'?'active':''">
				<a href="javascript://" ng-click="switchTab('info')">Information</a>
			</li>
		</ul>

		<div ng-if="selectedTab=='info'" class="tab-content">
			<div ng-init="prepareNewUser()">
				<form name="pageForm" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtName"
								placeholder="name" data-ng-model="user.name" required
								autofocus="autofocus" text-title maxlength="100">
						</div>
						<label class="col-sm-2">Organization</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtOrg"
								placeholder="organization name" text-alphanum maxlength="100"
								data-ng-model="user.organization" autofocus="autofocus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Email</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtEmail" maxlength="200"
								placeholder="email" data-ng-model="user.email" required>
							<kbd class="validation-alert"
								ng-show="pageForm.txtEmail.$error.email">Invalid Email</kbd>
						</div>
						<label class="col-sm-2">Mobile</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtMobile" maxlength="15"
								placeholder="mobile number" data-ng-model="user.mobilenum"
								required>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-2">Username</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtUsername"
								maxlength="50"
								text-username lowercase
								placeholder="username" data-ng-model="user.uname" required>
						</div>
						<label class="col-sm-2">Password</label>
						<div class="col-sm-4">
							<span><em>Temporary password will be emailed at
									mentioned email address.</em></span>

						</div>
					</div>

					<hr>

					<div class="form-group text-center">
						<button type="button" class="btn btn-default"
							ng-disabled="eventinprogress == true"
							ng-click="saveInfoTab(user)">
							Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<button type="button" class="btn btn-default"
							ng-disabled="eventinprogress == true"
							ng-click="navigateToUserList()">Cancel</button>
					</div>


				</form>


			</div>

		</div>
	</div>
</div>
