
<div class="panel panel-default">
	<div class="panel-heading">Email</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div style="padding-bottom: 5px;">
				<input type="email" class="form-control"
					ng-model="ngDialogData.user.email">
			</div>
			<div class="pull-right">
				<button class="btn btn-default" ng-disabled="eventinprogress==1" ng-click="updateEmail(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='updatingemail'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-default" ng-disabled="eventinprogress==1"
					ng-click="closeThisDialog('')">Cancel</button>
			</div>

		</form>
	</div>
</div>