<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="readUserType('edit')">

<div >
	<breadcrumb ng-model="bcArray"></breadcrumb>

	<div ng-if="utype.toUpperCase() =='SP'">
		<div ng-include="'./views/su/users/details-sp.html'"></div>
	</div>

	<div ng-if="utype.toUpperCase() == 'SU'">
		<div ng-include="'./views/su/users/details-su.html'"></div>
	</div>

	<div ng-if="utype.toUpperCase() =='LG'">
		<div ng-include="'./views/su/users/details-lg.html'"></div>
	</div>


	<div ng-if="utype.toUpperCase() =='CL'">
		<div ng-include="'./views/su/users/details-cl.html'"></div>
	</div>
</div>

</div>
