<div class="container-fluid" ng-init="loadPageTab()">

	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="selectedTab=='info'?'active':''">
			<a href="javascript://" ng-click="switchTab('info')">Information</a>
		</li>
		<li role="presentation" ng-class="selectedTab=='catalog'?'active':''">
			<a href="javascript://" ng-click="switchTab('catalog')">Catalog</a>
		</li>
		<li role="presentation"
			ng-class="selectedTab=='documents'?'active':''"><a
			href="javascript://" ng-click="switchTab('documents')">Documents</a>
		</li>
	</ul>

	<div ng-if="selectedTab=='info'" class="tab-content"
		ng-init="loadInfoTab()" style="overflow: auto;">
		<div ng-if="loading==true" class="text-center"
			style="min-height: 400px; vertical-align: bottom;">
			Loading <i class="fa fa-spinner fa-spin"></i>
		</div>
		<div ng-if="loading==false">
			<form class="form-horizontal" name="pageForm">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4">UID</label>
						<div class="col-sm-8">
							<span>{{user.uid}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Organization</label>
						<div class="col-sm-8" ng-if="utype!='su'">
							<input type="text" class="form-control" id="txtOrg"
								placeholder="organization name" required text-org-name
								data-ng-model="user.organization" autofocus="autofocus">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-4">Address 1</label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								data-ng-model="user.address1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Address 2</label>
						<div class="col-sm-8">
							<input type="text" class="form-control"
								data-ng-model="user.address2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">City</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" data-ng-model="user.city" text-title 
								required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">State</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" text-title 
								data-ng-model="user.state" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Pincode</label>

						<div class="col-sm-8">
							<div class="col-sm-8" style="padding-left: 0px;">
								<input type="text" class="form-control" 
									data-ng-model="user.pincode"
									pattern="\d{5,6}$" maxlength="6" phonetype>
							</div>
							<div class="col-sm-4" style="padding-right: 0px;">
								<a href="" ng-click="user.active=!user.active"> <kbd
										style="background-color: #006600" class="pull-right"
										ng-if="user.active==1">Active</kbd> <kbd
										style="background-color: #990000" class="pull-right"
										ng-if="user.active==0">Inactive</kbd>
								</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Username</label>
						<div class="col-sm-8">
							<div class="col-sm-8" style="padding-left: 0px;">
								<span class="form-control required">{{user.uname}}</span>
							</div>
							<div class="col-sm-4" style="padding-right: 0px;">
								<button type="button" class="btn btn-content btn-sm pull-right"
									ng-click="resetPassword()"
									ng-disabled="eventinprogress == true">
									Reset Password <i
										ng-if="eventinprogress == true && eventmessage=='resetpwd'"
										class="fa fa-spinner fa-spin"></i>
								</button>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-6">

					<div class="form-group">
						<label class="col-sm-12"><u>Primary Contact Details</u></label>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="txtName" text-title 
								placeholder="name" data-ng-model="user.name"
								autofocus="autofocus" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Email</label>
						<div class="col-sm-8">
							<input type="email" ng-model="user.email" class="form-control" 
								placeholder="email" id="txtEmail" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Mobile</label>
						<div class="col-sm-8">
							<input type="tel" ng-model="user.mobilenum" class="form-control"
								placeholder="mobile" id="txtMobile" required maxlength="15" phonetype
								pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12"><u>Alternate Contact Details</u></label>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="txtName2" text-title 
								placeholder="name" data-ng-model="user.name2"
								autofocus="autofocus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Email</label>
						<div class="col-sm-8">
							<input type="email" ng-model="user.email2" class="form-control"
								placeholder="email" id="txtEmail2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4">Mobile</label>
						<div class="col-sm-8">
							<input type="tel" ng-model="user.mobilenum2" class="form-control"
								placeholder="mobile" id="txtMobile2" maxlength="15" phonetype
								pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$">
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<hr>
					<div class="form-group text-center">
						<button type="button" class="btn btn-content"
							ng-click="saveInfoTab(user)"
							ng-disabled="eventinprogress == true || pageForm.$invalid">
							Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<button type="button" class="btn btn-content"
							ng-click="resetInfoTab()" ng-disabled="eventinprogress == true">Reset</button>
						<button type="button" class="btn btn-content"
							ng-click="navigateToUserList()"
							ng-disabled="eventinprogress == true">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div ng-if="selectedTab=='catalog'" class="tab-content"
		style="overflow: auto">
		<div ng-include="'./views/sp/catalog.html'"></div>
	</div>
	<div ng-if="selectedTab=='documents'" class="tab-content">
		<div ng-include="'./views/documents/list.html'"></div>
	</div>
</div>
