<div class="container-fluid" ng-init="loadPageTab()">
	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="selectedTab=='info'?'active':''">
			<a href="javascript://" ng-click="switchTab('info')">Information</a>
		</li>
		<li role="presentation" ng-class="selectedTab=='bank'?'active':''">
			<a href="javascript://" ng-click="switchTab('bank')">Bank</a>
		</li>
		<li role="presentation"
			ng-class="selectedTab=='documents'?'active':''"><a
			href="javascript://" ng-click="switchTab('documents')">Documents</a>
		</li>
	</ul>

	<div ng-if="selectedTab=='info'" class="tab-content"
		ng-init="loadInfoTab()">

		<div ng-if="loading==true" class="text-center">
			Loading <i class="fa fa-spinner fa-spin"></i>
		</div>

		<div ng-if="loading==false">
			<form class="form-horizontal" name="pageForm">
				<div class="col-sm-12">
					<div class="form-group col-md-6" ng-if="user.uid">
						<label class="col-sm-3">UID</label>
						<div class="col-sm-9">
							<span>{{user.uid}}</span>
						</div>
					</div>
					<div class="form-group col-md-6" ng-if="user.uid">
						<label class="col-sm-3">Username</label>
						<div class="col-sm-9">
							<span>{{user.uname}}</span>
							<button type="button" class="btn btn-content btn-sm pull-right"
								ng-click="resetPassword()" ng-disabled="eventinprogress == true">
								Reset Password <i
									ng-if="eventinprogress == true && eventmessage=='resetpwd'"
									class="fa fa-spinner fa-spin"></i>
							</button>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="txtName" text-title 
								placeholder="name" data-ng-model="user.name" required
								autofocus="autofocus">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Organization</label>
						<div class="col-sm-9" ng-if="utype!='su'">
							<input type="text" class="form-control" id="txtOrg"
								placeholder="organization name" text-org-name
								data-ng-model="user.organization" autofocus="autofocus">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Email</label>
						<div class="col-sm-9">
							<span>{{user.email || '(not set)'}}</span> <span
								ng-if="user.emailverified==1" class="pull-right"> <em>(verified)</em>
							</span> <span ng-if="!user.emailverified || user.emailverified==0"
								class="pull-right"> <em>(not verified)</em>
							</span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Mobile</label>
						<div class="col-sm-9">
							<span>{{user.mobilenum || '(not set)'}}</span> <span
								ng-if="user.mobileverified==1" class="pull-right"> <em>(verified)</em></span>
							<span ng-if="!user.mobileverified || user.mobileverified==0"
								class="pull-right"> <em>(not verified)</em></span>

						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Date of Birth</label>
						<div class="col-sm-9">
							<datepicker date-format="dd MMM yyyy"
								date-max-limit="{{maxDoB | date:'MM/dd/yyyy'}}"
								date-set="{{ user.dob | date:'MM/dd/yyyy' }}"> <input
								type="text" class="form-control" data-ng-model="user.dob"
								required readonly="readonly"> </datepicker>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Gender</label>
						<div class="col-sm-9">
							<select class="form-control" data-ng-model="user.gender" required>
								<option value="">- Select -</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Address 1</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								data-ng-model="user.address1">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Address 2</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								data-ng-model="user.address2">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">City</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" data-ng-model="user.city"
								required text-title >
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">State</label>
						<div class="col-sm-9">
							<input type="text" class="form-control"
								data-ng-model="user.state" required text-title >
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Pincode</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" maxlength="6"
								data-ng-model="user.pincode"
								pattern="\d{5,6}$" maxlength="6" phonetype>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="col-sm-3">Active</label>
						<div class="col-sm-9">
							<a href="" ng-click="user.active=!user.active"> <kbd
									style="background-color: #006600" ng-if="user.active==1">Active</kbd>
								<kbd style="background-color: #990000" ng-if="user.active==0">Inactive</kbd>
							</a>
						</div>
					</div>
					
					<div class="form-group col-sm-12 text-center">
						<button type="button" class="btn btn-content"
							ng-click="saveInfoTab(user)"
							ng-disabled="eventinprogress == true || pageForm.$invalid">
							Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<button type="button" class="btn btn-content"
							ng-click="resetInfoTab()" ng-disabled="eventinprogress == true">Reset</button>
						<button type="button" class="btn btn-content"
							ng-click="navigateToUserList()"
							ng-disabled="eventinprogress == true">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="selectedTab=='bank'" class="tab-content">
		<div ng-include="'./views/lg/bankdetails.html'"></div>
	</div>
	<div ng-if="selectedTab=='documents'" class="tab-content">
		<div ng-include="'./views/documents/list.html'"></div>
	</div>

</div>
