<div class="container-fluid" ng-init="loadPageTab()">

	<ul class="nav nav-tabs">
		<li role="presentation" ng-class="selectedTab=='info'?'active':''">
			<a href="javascript://" ng-click="switchTab('info')">Information</a>
		</li>
	</ul>
	<div ng-if="selectedTab=='info'" class="tab-content"
		ng-init="loadInfoTab()">

		<div ng-if="loading==true" class="text-center"
			style="min-height: 400px; vertical-align: bottom;">
			Loading <i class="fa fa-spinner fa-spin"></i>
		</div>


		<div ng-if="loading==false">
			<form class="form-horizontal" name="pageForm">

				<div class="form-group col-md-6" ng-if="user.uid">
					<label class="col-sm-3">UID</label>
					<div class="col-sm-9">
						<span>{{user.uid}}</span>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Username</label>
					<div class="col-sm-9">
						<span class="col-sm-6" style="padding-left: 0px;">{{user.uname}}</span>
						<div class="col-sm-6" style="padding-right: 0px;">
							<button type="button" class="btn btn-content btn-sm pull-right"
								ng-click="resetPassword()" ng-disabled="eventinprogress == true">
								Reset Password <i
									ng-if="eventinprogress == true && eventmessage=='resetpwd'"
									class="fa fa-spinner fa-spin"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label class="col-sm-3">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="txtName" text-title
							placeholder="name" data-ng-model="user.name" required
							autofocus="autofocus">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Organization</label>
					<div class="col-sm-9">
						<span class="form-control">LeadPassers.com</span>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label class="col-sm-3">Mobile</label>
					<div class="col-sm-9">
						<input type="text" ng-model="user.mobilenum" class="form-control"
							required
							pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
							maxlength="15" phonetype>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Email</label>
					<div class="col-sm-9">
						<div class="col-sm-8" style="padding-left: 0px;">
							<span class="form-control" style="border: 0px; box-shadow: none;"><a
								href="" ng-click="editEmail()">{{user.email || '(not set)'}}</a></span>
						</div>
						<div class="col-sm-4" style="padding-right: 0px;">
							<button type="button" class="btn btn-content btn-sm pull-right"
								ng-if="user.emailverified==0"
								ng-click="resendValidationEmail(user)"
								ng-disabled="eventinprogress == true">
								Click to Verify <i
									ng-if="eventinprogress == true && eventmessage=='emailing'"
									class="fa fa-spinner fa-spin"></i>
							</button>
							<span ng-if="user.emailverified==1" class="pull-right"> <em>(verified)</em></span>
						</div>
					</div>
				</div>

				<div class="form-group col-md-6">
					<label class="col-sm-3">Date of Birth</label>
					<div class="col-sm-9">
						<datepicker date-format="dd MMM yyyy"
							date-max-limit="{{maxDoB | date:'MM/dd/yyyy'}}"
							date-set="{{ user.dob | date:'MM/dd/yyyy' }}"> <input
							readonly type="text" class="form-control"
							data-ng-model="user.dob"> </datepicker>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Gender</label>
					<div class="col-sm-9">
						<select class="form-control" data-ng-model="user.gender" required>
							<option value="">- Select -</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Address 1</label>
					<div class="col-sm-9">
						<input type="text" class="form-control"
							data-ng-model="user.address1">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Address 2</label>
					<div class="col-sm-9">
						<input type="text" class="form-control"
							data-ng-model="user.address2">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">City</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" data-ng-model="user.city"
							text-title required>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">State</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" data-ng-model="user.state"
							text-title required>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Pincode</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" pattern="\d{5,6}$"
							maxlength="6" phonetype data-ng-model="user.pincode">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Role</label>
					<div class="col-sm-9">
						<select class="form-control" required data-ng-model="user.role">
							<option value="">- Select -</option>
							<option value="admin">Admin</option>
							<option value="user">User</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Active</label>
					<div class="col-sm-9">
						<input type="checkbox" data-ng-model="user.active"
							ng-true-value="1" ng-false-value="0">
					</div>
				</div>
				<hr>
				<div class="form-group col-sm-12 text-center">
					<button type="button" class="btn btn-content"
						ng-click="saveInfoTab(user)"
						ng-disabled="eventinprogress == true || pageForm.$invalid">
						Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
							class="fa fa-spinner fa-spin"></i>
					</button>
					<button type="button" class="btn btn-content"
						ng-click="resetInfoTab()" ng-disabled="eventinprogress == true">Reset</button>
					<button type="button" class="btn btn-content"
						ng-click="navigateToUserList()"
						ng-disabled="eventinprogress == true">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
