<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="loadUsersList()">

    <breadcrumb class="col-sm-8" ng-model="bcArray"> </breadcrumb>
    <div class="col-sm-4">
        <button type="button" ng-if="utype == 'SU' || utype == 'SP'"
                class="btn btn-content pull-right"
                ng-click="navigateToNewUserDetails()">New</button>
    </div>

    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group" ng-if="utype == 'SP'">
                <div class="col-sm-3 col-md-2">
                    <input type="text" class="form-control" placeholder="organization" text-org-name
                           ng-model="filter.organization">
                </div>
                <div class="col-sm-3 col-md-2">
                    <input type="text" class="form-control" text-title
                           placeholder="primary contact" ng-model="filter.name">
                </div>
                <div class="col-md-2 hidden-xs hidden-sm">
                    <input type="text" class="form-control" text-title
                           placeholder="alternate contact" ng-model="filter.name2">
                </div>
                <div class="col-md-2 col-sm-3">
                    <label class="col-sm-4">Active </label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filter.active">
                            <option value="">All</option>
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <button class="btn btn-default" ng-click="searchUserList(filter)">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                class="hidden-sm hidden-md">Search</span>
                    </button>
                    <button class="btn btn-default" ng-click="clearSearch(filter)">
                        <span class="glyphicon glyphicon-erase"></span>&nbsp;<span
                                class="hidden-sm hidden-md">Clear</span>
                    </button>
                </div>
            </div>
            <div class="form-group" ng-if="utype != 'SP'">
                <div class="col-md-2 col-sm-4">
                    <input type="text" class="form-control" placeholder="name" text-title
                           ng-model="filter.name">
                </div>
                <div class="col-md-2 hidden-xs hidden-sm" ng-if="utype != 'SU'">
                    <input type="text" class="form-control" placeholder="organization" text-org-name
                           ng-model="filter.organization">
                </div>
                <div class="col-md-2 hidden-xs hidden-sm">
                    <input type="text" class="form-control" placeholder="email"
                           ng-model="filter.email">
                </div>
                <div class="col-md-2 col-sm-4">
                    <input type="text" class="form-control" placeholder="username" text-alphanum-no-space
                           ng-model="filter.uname">
                </div>
                <div class="col-md-2 col-sm-3">
                    <label class="col-sm-4">Active </label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filter.active">
                            <option value="">All</option>
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1">
                    <button class="btn btn-default" ng-click="searchUserList(filter)">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                class="hidden-sm hidden-md">Search</span>
                    </button>
                    <button class="btn btn-default" ng-click="clearSearch(filter)">
                        <span class="glyphicon glyphicon-erase"></span>&nbsp;<span
                                class="hidden-sm hidden-md">Clear</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered table-condensed"
               ng-if="utype.toUpperCase() != 'SP'">
            <tr>
                <th style="width: 200px;">Name</th>
                <th class="hidden-xs hidden-sm" style="width: 200px;"
                    ng-if="utype != 'SU'">Organization</th>
                <th class="hidden-xs hidden-sm">Email</th>
                <th class="text-center hidden-xs hidden-sm" style="width: 150px;">Mobile</th>
                <th style="width: 150px;">Username</th>
                <th class="text-center" style="width: 80px;">Active</th>
                <th class="text-right hidden-xs hidden-sm" style="width: 120px;">Modified
                    By</th>
                <th class="text-right hidden-xs hidden-sm" style="width: 120px;">Modified
                    On</th>
            </tr>
            <tr ng-if="loading == true">
                <td colspan="{{utype=='SU'?7:8}}" class="text-center hidden-sm">Loading
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
                <td colspan="3" class="text-center hidden-md hidden-lg">Loading
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>

            <tr ng-if="loading == false && users.length == 0">
                <td colspan="{{utype=='SU'?7:8}}" class="text-center hidden-sm">No
                    Records Found</td>
                <td colspan="3" class="text-center hidden-md hidden-lg">No
                    Records Found</td>
            </tr>

            <tr
                ng-repeat="user in users| orderBy : ['-active', 'name', 'uname'] track by $index"
                ng-if="loading == false">
                <td><a href="" ng-click="navigateToUserDetails(user.uid, user)">{{user.name}}</a></td>
                <td class="hidden-sm" ng-if="utype != 'SU'">{{user.organization}}</td>
                <td class="hidden-sm">{{user.email}}</td>
                <td class="text-center hidden-sm">{{user.mobilenum}}</td>
                <td>{{user.uname}}</td>
                <td class="text-center"><kbd style="background-color: #006600"
                                             ng-if="user.active == 1">Active</kbd> <kbd
                                             style="background-color: #990000" ng-if="user.active == 0">Inactive</kbd>
                </td>
                <td class="text-right hidden-sm">{{user.modifiedby ==
					user.uname ?'SELF':user.modifiedby}}</td>
                <td class="text-right hidden-sm">{{user.modifiedon|
					date:'dd-MM-yyyy,HH:mm'}}</td>
            </tr>

        </table>


        <table class="table table-striped table-bordered table-condensed"
               ng-if="utype.toUpperCase() == 'SP'">
            <tr>
                <th>Organization</th>
                <th class="hidden-xs hidden-sm" style="width: 200px;">Primary
                    Contact</th>
                <th style="width: 150px;">Username</th>
                <th class="text-center" style="width: 80px;">Active</th>
                <th class="hidden-xs hidden-sm text-right" style="width: 120px;">Modified
                    By</th>
                <th class="hidden-xs hidden-sm text-right" style="width: 120px;">Modified
                    On</th>
            </tr>
            <tr ng-if="loading == true">
                <td colspan="6" class="text-center hidden-sm">Loading <i
                        class="fa fa-spinner fa-spin"></i></td>
                <td colspan="3" class="text-center hidden-md hidden-lg">Loading
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>

            <tr ng-if="loading == false && users.length == 0">
                <td colspan="6" class="text-center hidden-sm">No Records Found</td>
                <td colspan="3" class="text-center hidden-md hidden-lg">No
                    Records Found</td>
            </tr>

            <tr
                ng-repeat="user in users| orderBy : ['-active', 'organization', 'uname'] track by $index"
                ng-if="loading == false">
                <td><a href="" ng-click="navigateToUserDetails(user.uid, user)">{{user.organization}}</a>
                </td>
                <td class="hidden-xs hidden-sm">{{user.name}}</td>
                <td>{{user.uname}}</td>

                <td class="text-center"><kbd style="background-color: #006600"
                                             ng-if="user.active == 1">Active</kbd> <kbd
                                             style="background-color: #990000" ng-if="user.active == 0">Inactive</kbd>
                </td>
                <td class="hidden-xs hidden-sm text-right">{{user.modifiedby ==
					user.uname ?'SELF':user.modifiedby}}</td>
                <td class="hidden-xs hidden-sm text-right">{{user.modifiedon|
					date:'dd-MM-yyyy,HH:mm'}}</td>
            </tr>
        </table>

        <nav ng-if="totalpages > 1 && loading == false">
            <ul class="pager">
                <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                            aria-hidden="true">&larr;</span> Previous</a></li>
                <li class="previous" ng-if="prevPage"><a href=""
                                                         ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                        Previous</a></li>
                <li>Page {{pgnum}} of {{totalpages}}</li>
                <li class="next" ng-if="nextPage"><a href=""
                                                     ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                <li class="next disabled" ng-if="!nextPage"><a href="">Next
                        <span aria-hidden="true">&rarr;</span>
                    </a></li>
            </ul>
        </nav>
    </div>

</div>
