<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="readUserType('new')">
	<breadcrumb ng-model="bcArray"></breadcrumb>

	<div class="container-fluid" ng-init="switchTab('info')">

		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="selectedTab=='info'?'active':''">
				<a href="javascript://" ng-click="switchTab('info')">Information</a>
			</li>
		</ul>

		<div ng-if="selectedTab=='info'" class="tab-content">
			<div ng-init="prepareNewUser()">
				<form name="pageForm" class="form-horizontal"
					ng-if="user.utype.toUpperCase()=='SU'">
					<div class="form-group">
						<label class="col-sm-2">Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtName"
								placeholder="name" data-ng-model="user.name" required
								autofocus="autofocus" text-title maxlength="100">
						</div>
						<label class="col-sm-2">Username</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtUsername"
								maxlength="50" text-username lowercase placeholder="username"
								data-ng-model="user.uname" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Email</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtEmail" required
								maxlength="200" placeholder="email" data-ng-model="user.email">
							<kbd class="validation-alert"
								ng-show="pageForm.txtEmail.$error.email">Invalid Email</kbd>
						</div>
						<label class="col-sm-2">Mobile</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="txtMobile"
								maxlength="15" placeholder="mobile number"
								pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
								data-ng-model="user.mobilenum" required phonetype>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Date of Birth</label>
						<div class="col-sm-4">
							<datepicker date-format="dd MMM yyyy"
								date-max-limit="{{maxDoB | date:'MM/dd/yyyy'}}"
								date-set="{{ user.dob | date:'MM/dd/yyyy' }}">
							<input type="text" class="form-control" readonly data-ng-model="user.dob">
							</datepicker>
						</div>
						<label class="col-sm-2">Gender</label>
						<div class="col-sm-4">
							<select class="form-control" data-ng-model="user.gender" required>
								<option value="">- Select -</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Address 1</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								data-ng-model="user.address1">
						</div>
						<label class="col-sm-2">Address 2</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								data-ng-model="user.address2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">City</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" data-ng-model="user.city"
								required text-title>
						</div>
						<label class="col-sm-2">State</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" text-title
								data-ng-model="user.state" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Pincode</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								pattern="\d{5,6}$" maxlength="6" phonetype
								data-ng-model="user.pincode">
						</div>
						<label class="col-sm-2">Role</label>
						<div class="col-sm-4">
							<select class="form-control" required
								data-ng-model="user.role">
								<option value="">- Select -</option>
								<option value="admin">Admin</option>
								<option value="user">User</option>	
							</select>
						</div>
					</div>

					<hr>

					<div class="form-group text-center">
						<button type="button" class="btn btn-content"
							ng-disabled="eventinprogress == true || pageForm.$invalid"
							ng-click="saveInfoTab(user)">
							Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<button type="button" class="btn btn-content"
							ng-disabled="eventinprogress == true"
							ng-click="navigateToUserList()">Cancel</button>
					</div>


				</form>
				<form class="form-horizontal" name="pageForm"
					ng-if="user.utype.toUpperCase()=='SP'">
					<div style="overflow: auto;">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4">Organization</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtOrg"
										autofocus="autofocus" placeholder="organization name" required
										data-ng-model="user.organization" text-org-name>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4">Address 1</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"
										data-ng-model="user.address1">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Address 2</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"
										data-ng-model="user.address2">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">City</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" text-title
										data-ng-model="user.city" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">State</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" text-title
										data-ng-model="user.state" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Pincode</label>
								<div class="col-sm-8">
									<input type="text" class="form-control"
										data-ng-model="user.pincode"
										pattern="\d{5,6}$" maxlength="6" phonetype>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Username</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtUsername" text-username
										maxlength="50" text-username lowercase placeholder="username"
										data-ng-model="user.uname" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Password</label>
								<div class="col-sm-8">
									<span><em>Temporary password will be sent to email
											&amp; mobile</em></span>

								</div>
							</div>
						</div>
						<div class="col-sm-6" style="border-left: 1px solid #ccc;">
							<div class="form-group">
								<label class="col-sm-12"><u>Primary Contact Details</u></label>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtName" text-title 
										placeholder="name" data-ng-model="user.name" required
										autofocus="autofocus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Email</label>
								<div class="col-sm-8">
									<input type="email" ng-model="user.email" class="form-control"
										placeholder="email" id="txtEmail" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Mobile</label>
								<div class="col-sm-8">
									<input type="tel" ng-model="user.mobilenum" phonetype
										maxlength="15"
										pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
										class="form-control" placeholder="mobile" id="txtMobile"
										required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12"><u>Alternate Contact
										Details</u></label>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtName2" text-title 
										placeholder="name" data-ng-model="user.name2"
										autofocus="autofocus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Email</label>
								<div class="col-sm-8">
									<input type="email" ng-model="user.email2" class="form-control"
										placeholder="email" id="txtEmail2">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Mobile</label>
								<div class="col-sm-8">
									<input type="tel" ng-model="user.mobilenum2" phonetype
										maxlength="15"
										pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
										class="form-control" placeholder="mobile" id="txtMobile2"
										>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<hr>
							<div class="form-group text-center">
								<button type="button" class="btn btn-content"
									ng-disabled="eventinprogress == true || pageForm.$invalid"
									ng-click="saveInfoTab(user)">
									Save <i
										ng-if="eventinprogress == true && eventmessage=='saving'"
										class="fa fa-spinner fa-spin"></i>
								</button>
								<button type="button" class="btn btn-content"
									ng-disabled="eventinprogress == true"
									ng-click="navigateToUserList()">Cancel</button>
							</div>
						</div>
					</div>
				</form>


			</div>

		</div>
	</div>
</div>
