<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="loadCatalog()">

	<breadcrumb class="col-sm-8" ng-model="bcArray"> </breadcrumb>
	<div class="col-sm-4"></div>
	<div class="col-sm-12">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<label class="col-sm-2">Category</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="category_uid"
							ng-change="loadProducts(category_uid)">
							<option value="">--Select--</option>
							<option
								ng-repeat="lst in categories | filter : {'active':1} | orderBy : ['seq','description'] track by $index "
								value="{{lst.uid}}" ng-selected="category_uid == lst.uid">{{lst.description}}
								( {{lst.code}} )</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<button type="button" class="btn btn-content"
						ng-click="addList(catalog.uid, 'category')"
						title="New Master List">New Category</button>
					<button class="btn btn-content" ng-if="category_uid"
						ng-click="addList(category_uid, 'subcategory')">New
						Subcategory</button>
				</div>
			</div>
		</form>
	</div>


	<div class="col-sm-12 table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th style="width: 130px;">Code</th>
				<th>Description</th>
				<th class="text-center" style="width: 150px;" ng-if="category_uid">Buy</th>
				<th class="text-center" style="width: 150px;" ng-if="category_uid">Sell</th>
				<th class="text-center" style="width: 80px;">Seq</th>
				<th class="text-center" style="width: 100px;">Active</th>
				<th class="text-right" style="width: 150px;">Created On</th>
				<th class="text-right" style="width: 150px;">Modified On</th>
			</tr>

			<tr ng-if="loading == true">
				<td colspan="{{category_uid?'8':'6'}}" class="text-center">Loading
					<i class="fa fa-spinner fa-spin"></i>
				</td>
			</tr>

			<tr ng-if="!category_uid && masterlists.length==0">
				<td colspan="6" class="text-center">Please select a list</td>
			</tr>

			<tr ng-if="loading == false && lstProducts.length == 0">
				<td colspan="{{category_uid?'8':'6'}}" class="text-center">No
					Records Found</td>
			</tr>

			<tr ng-if="!category_uid"
				ng-repeat="item in categories | orderBy : ['-active','seq', 'code'] track by $index"
				ng-if="loading==false">
				<td><a href="" ng-click="editList(item, 'category')">{{item.code}}</a></td>
				<td>{{item.description}}</td>
				<td class="text-center">{{item.seq}}</td>
				<td class="text-center"><span class="glyphicon"
					ng-class="item.active==1?'glyphicon-ok':'glyphicon-remove'"></td>
				<td class="text-right">{{item.createdon | date:'dd-MM-yyyy'}}</td>
				<td class="text-right">{{item.modifiedon | date:'dd-MM-yyyy'}}</td>
			</tr>

			<tr
				ng-repeat="item in lstProducts | orderBy : ['seq', 'code'] track by $index"
				ng-if="loading==false">
				<td><a href="" ng-click="editList(item, 'subcategory')">{{item.code}}</a></td>
				<td>{{item.description}}</td>
				<td class="text-center">{{item.numfield_1 | number:4}} <span
					ng-if="item.txtfield_1=='Percentage'" class="fa fa-percent"></span>
				</td>
				<td class="text-center">{{item.numfield_2 | number:4}} <span
					ng-if="item.txtfield_2=='Percentage'" class="fa fa-percent"></span>
				</td>
				<td class="text-center">{{item.seq}}</td>
				<td class="text-center"><span class="glyphicon"
					ng-class="item.active==1?'glyphicon-ok':'glyphicon-remove'"></td>
				<td class="text-right">{{item.createdon | date:'dd-MM-yyyy'}}</td>
				<td class="text-right">{{item.modifiedon | date:'dd-MM-yyyy'}}</td>
			</tr>

		</table>



		<nav ng-if="totalpages>1 && loading==false">
			<ul class="pager">
				<li class="previous disabled" ng-if="!prevPage"><a href=""><span
						aria-hidden="true">&larr;</span> Previous</a></li>
				<li class="previous" ng-if="prevPage"><a href=""
					ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
						Previous</a></li>
				<li>Page {{pgnum}} of {{totalpages}}</li>
				<li class="next" ng-if="nextPage"><a href=""
					ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
				<li class="next disabled" ng-if="!nextPage"><a href="">Next
						<span aria-hidden="true">&rarr;</span>
				</a></li>
			</ul>
		</nav>
	</div>

</div>