
<div class="panel panel-content">
	<div class="panel-heading">Catalog Info</div>
	<div class="panel-body">
		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-3">Code</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" maxlength="30" ng-if="!ngDialogData.list.uid"
						ng-model="ngDialogData.list.code" required text-code lowercase autofocus>
					<span ng-if="ngDialogData.list.uid" ng-bind="ngDialogData.list.code"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" text-alphanum
						ng-model="ngDialogData.list.description" maxlength="100" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Sequence</label>
				<div class="col-sm-9">
					<input type="number" class="form-control"
						ng-model="ngDialogData.list.seq" min="0" max="999" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Active</label>
				<div class="col-sm-9">
					<input type="checkbox" 
						ng-model="ngDialogData.list.active" ng-true-value="1" ng-false-value="0">
				</div>
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1"
					ng-click="saveList(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='saving'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content"
					ng-disabled="eventinprogress==1" ng-click="closeThisDialog('')">Cancel</button>
			</div>
		</form>
	</div>
</div>