
<div class="panel panel-content">
	<div class="panel-heading">Catalog Info</div>
	<div class="panel-body">
		<form class="form-horizontal" name="pageForm">

			<div class="form-group">
				<label class="col-sm-4">Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" maxlength="30" ng-if="!ngDialogData.list.uid"
						ng-model="ngDialogData.list.code" required text-code lowercase autofocus="autofocus" >
					<span ng-if="ngDialogData.list.uid" ng-bind="ngDialogData.list.code"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" text-alphanum
						ng-model="ngDialogData.list.description" maxlength="100" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4">Buy</label>
				<div class="col-sm-8" style="padding:0px;">
					<div class="col-sm-6">
						<select class="form-control"
							ng-model="ngDialogData.list.txtfield_1">
							<option value="Fixed">Fixed</option>
							<option value="Percentage">Percentage</option>
						</select>
					</div>
					<div class="col-sm-6">
						<input type="number" class="form-control"
							ng-if="ngDialogData.list.txtfield_1 == 'Fixed'"
							ng-model="ngDialogData.list.numfield_1" min="0" max="99999"
							required> <input type="number" class="form-control"
							ng-if="ngDialogData.list.txtfield_1 == 'Percentage'"
							ng-model="ngDialogData.list.numfield_1" min="0" max="100"
							step="0.1" required>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4">Sell</label>
				<div class="col-sm-8" style="padding:0px;">
					<div class="col-sm-6">
						<select class="form-control"
							ng-model="ngDialogData.list.txtfield_2">
							<option value="Fixed">Fixed</option>
							<option value="Percentage">Percentage</option>
						</select>
					</div>
					<div class="col-sm-6">
						<input type="number" class="form-control"
							ng-if="ngDialogData.list.txtfield_2 == 'Fixed'"
							ng-model="ngDialogData.list.numfield_2" min="0" max="99999"
							required> <input type="number" class="form-control"
							ng-if="ngDialogData.list.txtfield_2 == 'Percentage'"
							ng-model="ngDialogData.list.numfield_2" min="0" max="100"
							step="0.1" required>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-4">Sequence</label>
				<div class="col-sm-8">
					<input type="number" class="form-control"
						ng-model="ngDialogData.list.seq" min="0" max="999" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4">Active</label>
				<div class="col-sm-8">
					<input type="checkbox" ng-model="ngDialogData.list.active"
						ng-true-value="1" ng-false-value="0">
				</div>
			</div>
			<div class="pull-right">
				<button class="btn btn-content"
					ng-disabled="eventinprogress==1 || pageForm.$invalid"
					ng-click="saveList(ngDialogData)">
					Submit <i ng-if="eventinprogress == true && eventmessage=='saving'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content"
					ng-disabled="eventinprogress==1" ng-click="closeThisDialog('')">Cancel</button>
			</div>
		</form>
	</div>
</div>