<div ng-include="'./views/menu/topmenu.html'"></div>

<br /><br /><br />
<div class="hidden-xs col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" ng-init="init()">
	<div class="panel panel-content">
		<div class="panel-heading">
			Login <span class="pull-right error" ng-if="online==false">You
				are Offline</span>
		</div>
		<div class="panel-body">
			<form novalidate="novalidate" ng-submit="authenticate(loginInfo)" name="pageForm" id="pageForm">
				<div class="error">{{loginInfo.error}}</div>
				<div class="form-group">
					<label for="txtUserName">Username</label> <input type="text"
						class="form-control required" id="txtUserName"
						placeholder="username" data-ng-model="loginInfo.username" required
						autofocus="autofocus" lowercase text-username maxlength="50">
						<kbd class="validation-alert" ng-show="submitted && pageForm.txtUserName.$error.required">Input required</kbd>
				</div>

				<div class="form-group">
					<label for="txtPassword">Password</label> <input type="password"
						class="form-control required" id="txtPassword" maxlength="100"
						placeholder="password" data-ng-model="loginInfo.passwd" required>
				</div>
				<!-- <div class="form-group g-recaptcha" data-sitekey="6LeuKh4TAAAAAJnAiCntSn1KixkdXm4DLdBzOhuI"></div> -->
				<div class="form-group">
					<a href="" ng-click="showForgotPassword()" ng-hide="loading">Forgot Password</a>
					<button type="submit" class="btn btn-content pull-right"
						ng-disabled="pageForm.$invalid || loading">
						<span ng-show="!loading">Login</span> <span ng-show="loading">
							Authentication in Progress <i class="fa fa-spinner fa-spin"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>