
<div class="panel panel-content">
	<div class="panel-heading">Forgot Password</div>
	<div class="panel-body">
		<form class="form-horizontal" name="popupForm">
			<div class="text-center">{{ngDialogData.error}}</div>
			<div style="padding-bottom: 5px;">
				<input type="text" class="form-control" required
					ng-model="ngDialogData.uname" placeholder="registered username">
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1 || popupForm.$invalid"
					ng-click="requestResetPassword(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='resetpwd'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content"
					ng-disabled="eventinprogress==1" ng-click="closeThisDialog()">Cancel</button>
			</div>

		</form>
	</div>
</div>