<div ng-include="'./views/menu/topmenu.html'"></div>

<div class="container-fluid" ng-controller="loginCtlr">

    <div class="container-fluid"
         ng-init="selectedTab = 'info'; prepareForRegistration()">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="selectedTab == 'info' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('info')">Registration
                        Form</a>
                </li>
            </ul>
            <div ng-if="selectedTab === 'info'" class="tab-content">
                <form name="pageForm" id="pageForm" class="form-horizontal" style="width: 98%">
                    <span class="error col-sm-12 text-center">{{formerror}}</span>
                    <div class="form-group">
                        <label class="col-sm-2">Name</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtName" maxlength="100"
                                   class="form-control" data-ng-model="user.name"
                                   ng-required="!user.name || pageForm.txtName.$invalid"
                                   autofocus="autofocus" text-title>
                        </div>
                        <label class="col-sm-2">Organization</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtOrg" maxlength="100"
                                   class="form-control" data-ng-model="user.organization"
                                   autofocus="autofocus" text-org-name>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2">Mobile</label>
                        <div class="col-sm-4">
                            <input type="tel" id="txtMobile" maxlength="15"
                                   class="form-control" data-ng-model="user.mobilenum"
                                   phonetype pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
                                   ng-required="!user.mobilenum || pageForm.txtMobile.$invalid">
                        </div>
                        <label class="col-sm-2">Email</label>
                        <div class="col-sm-4">
                            <input type="email" name="txtEmail" class="form-control"
                                   data-ng-model="user.email" maxlength="200"
                                   ng-style="{'border-left':(pageForm.txtEmail.$invalid?'4px solid #990000':'')}">

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2">Date Of Birth</label>
                        <div class="col-sm-4">
                            <datepicker date-format="dd MMM yyyy"
                                        date-max-limit="{{maxDoB| date:'MM/dd/yyyy'}}"> <input
                                    type="text" id="txtDob" ng-model="user.dob" readonly
                                    ng-required="!user.dob || pageForm.txtDob.$invalid"
                                    class="form-control" placeholder="date of birth"> </datepicker>
                        </div>

                        <label class="col-sm-2">Gender</label>
                        <div class="col-sm-4">
                            <select id="ddlGender" data-ng-model="user.gender"
                                    class="form-control" name="ddlGender"
                                    ng-required="!user.gender || pageForm.ddlGender.$invalid">
                                <option value="">- Select -</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2">City</label>
                        <div class="col-sm-4">
                            <input type="text" data-ng-model="user.city" name="txtCity"
                                   class="form-control" text-title
                                   ng-required="!user.city || pageForm.txtCity.$invalid">
                        </div>
                        <label class="col-sm-2">State</label>
                        <div class="col-sm-4">
                            <input type="text" data-ng-model="user.state" name="txtState"
                                   class="form-control" text-title
                                   ng-required="!user.state || pageForm.txtState.$invalid">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-sm-2">Username</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtUsername" text-username 
                                   class="form-control" lowercase ng-minlength="6"
                                   ng-maxlength="30" data-ng-model="user.uname"
                                   ng-required="!user.uname || pageForm.txtUsername.$invalid"
                                   placeholder="username (6 to 30 characters)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="txtPassword"
                                   data-ng-model="user.passwd1" ng-minlength="6"
                                   ng-maxlength="30" placeholder="password (6 to 30 characters)"
                                   ng-required="!user.passwd1 || pageForm.txtPassword.$invalid">
                        </div>
                        <label class="col-sm-2">Confirm</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="txtConfirmPwd"
                                   ng-minlength="6" ng-maxlength="30" data-ng-model="user.passwd2"
                                   placeholder="password (6 to 30 characters)"
                                   ng-required="!user.passwd2 || pageForm.txtConfirmPwd.$invalid || (user.passwd1 != user.passwd2)">
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <div class="text-center">
                            <button type="button" class="btn btn-content"
                                    ng-disabled="pageForm.$invalid || eventinprogress == true || (user.passwd1 != user.passwd2)"
                                    ng-click="saveRegistration(user)">
                                Register <i
                                    ng-if="eventinprogress == true && eventmessage == 'registering'"
                                    class="fa fa-spinner fa-spin"></i>
                            </button>
                            <button type="button" class="btn btn-content"
                                    ng-disabled="eventinprogress == true" ng-click="navigateToLogin()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--		<div class="col-lg-4 col-md-3 hidden-sm" style="padding-top: 25px;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                                        porttitor ante nisi, eget venenatis ligula hendrerit ut. Ut feugiat
                                        purus non hendrerit feugiat. Pellentesque ac condimentum justo. Ut
                                        non felis sollicitudin, lobortis sem sit amet, ultrices arcu. Mauris
                                        efficitur accumsan est id vulputate. Sed id metus felis. Vivamus
                                        orci ipsum, aliquet ac dignissim eget, ullamcorper vel massa. Proin
                                        quis placerat dolor. Sed nec leo ante.</p>
                                <p>Aenean eleifend est dapibus placerat fermentum. Pellentesque
                                        elementum gravida faucibus. Integer sit amet sapien ac ipsum blandit
                                        imperdiet. Phasellus venenatis eros ac risus ultrices pretium.
                                        Suspendisse vitae nibh quam. Nam egestas erat ut magna ultrices
                                        lacinia. Donec erat nulla, scelerisque dictum tellus ut, tempus
                                        imperdiet magna. Etiam sit amet eros pretium, lobortis massa at,
                                        aliquam mi. Maecenas bibendum scelerisque leo, in molestie orci
                                        molestie sed. Nunc feugiat aliquet pharetra. Phasellus scelerisque
                                        ornare tempor. Vestibulum laoreet malesuada tempor. Maecenas
                                        eleifend lorem ante, vel interdum nunc porta vitae. Suspendisse
                                        imperdiet lacus non odio tincidunt, et euismod tortor fringilla.
                                        Vivamus rutrum, purus ut interdum blandit, mi urna ullamcorper
                                        neque, quis tincidunt elit enim vel urna. Maecenas volutpat leo in
                                        ligula ultricies molestie. Nulla et commodo nulla. Proin imperdiet
                                        tellus in felis egestas elementum eget ac enim.</p>
                                <p>Donec luctus odio vulputate placerat finibus. Aliquam laoreet
                                        nisl odio, ac vulputate ex commodo vel. Morbi faucibus blandit
                                        sapien. Donec iaculis libero et diam rhoncus, ac aliquet tellus
                                        interdum. Vivamus a nisl tortor. Fusce ac dolor risus. Suspendisse
                                        condimentum nec nunc ac pellentesque. Vivamus quis purus nec dui
                                        tempus fermentum quis eu ipsum. Nulla tincidunt at velit eget
                                        tempus. Nullam consectetur ut elit facilisis blandit. Morbi
                                        pellentesque sodales dui, quis vehicula quam rutrum sit amet.</p>
                        </div>-->
    </div>
</div>

</div>