<div ng-include="'./views/menu/topmenu.html'"></div>

<div ng-init="doVerify()">
	
	<span ng-if="eventinprogress == true">
		Verification In Progress <i ng-if="eventinprogress == true && eventmessage=='saving'" class="fa fa-spinner fa-spin"></i>
	</span>
	
</div>