<div class="navbar-header" ng-controller="menuCtlr">
	<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
		aria-expanded="false">
		<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
		<span class="icon-bar"></span> <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" ng-click="gotoUserHome()" href="" style="padding: 5px !important;"> <img
		src="./images/lp-logo.png" alt=""
		style="height: 30px">
	</a>
</div>