<nav class="navbar navbar-default navbar-fixed-top"
	ng-controller="menuCtlr" ng-init="setActiveMenu()">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div ng-include="'./views/menu/top-logo.html'"></div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="activeMenu=='leads'?'active':''"><a href=""
					ng-click="navigate('/lg/leads')">Lead Management</a></li>
				<!-- 				<li class="dropdown" ng-class="activeMenu=='leadmgmt'?'active':''"><a
					href="" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Leads
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/lg/leadmgmt/open')">Open
								Leads</a></li>
						<li><a href="" ng-click="navigate('/lg/leadmgmt/past')">Past
								Leads</a></li>
					</ul></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-class="activeMenu=='profile'?'active':''"><a
					href="" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> {{user.name}}
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/lg/profile')">My
								Profile</a></li>
						<li><a href="" ng-click="navigate('/logoff')">Log-Off</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


<br />
<br />
<br />
<br />