<nav class="navbar navbar-default navbar-fixed-top" ng-controller="menuCtlr" ng-init="setActiveMenu()"	>
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div ng-include="'./views/menu/top-logo.html'"></div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<!-- <ul class="nav navbar-nav">
				<li><a href=""><i class="fa fa-home"></i> Home</a></li>
				<li><a href="">About Us</a></li>
			</ul> -->
			<ul class="nav navbar-nav navbar-right">
				<li ng-class="activeMenu=='register'?'active':''"><a href=""
					ng-click="navigate('/login/register/lg')"><i
						class="fa fa-user-plus"></i> Register as a LeadPasser</a></li>
				<li ng-class="activeMenu=='login'?'active':''"><a href=""
					ng-click="navigate('/login')"><i class="fa fa-sign-in"></i>
						Sign-in</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


<br />
<br />
<br />
<br />