<nav class="navbar navbar-default navbar-fixed-top"
	ng-controller="menuCtlr" ng-init="setActiveMenu()">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div ng-include="'./views/menu/top-logo.html'"></div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <li ng-class="activeMenu=='home'?'active':''"><a href="" ng-click="navigate('/su')">Home</a></li> -->
				<li ng-class="activeMenu=='leadmgmt'?'active':''"><a href=""
					ng-click="navigate('/su/leadmgmt')">Lead Management</a></li>
				<li ng-class="activeMenu=='accounts'?'active':''" class="dropdown"
					ng-if="urole==='admin'"><a href="" class="dropdown-toggle"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false">Accounts <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/su/accounts/sp')">Service
								Provider</a></li>
						<li><a href="" ng-click="navigate('/su/accounts/lg')">Lead
								Passers</a></li>
						<!-- <li><a href="" ng-click="navigate('/su/accounts/cl')">Clients</a></li> -->
						<li role="separator" class="divider"></li>
						<li><a href="" ng-click="navigate('/su/accounts/su')">Users</a></li>
					</ul></li>
				<li ng-class="activeMenu=='config'?'active':''" class="dropdown"
					ng-if="urole==='admin'"><a href="" data-toggle="dropdown" >Config <span
						class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/su/config/catalog')">Product
								Catalog</a></li>
						<li><a href="" ng-click="navigate('/su/config/locations')">Geo
								Locations</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-submenu"><a href="">Documents </a>
							<ul class="dropdown-menu">
								<li><a href=""
									ng-click="navigate('/su/config/list?code=_lg_docs')">Lead
										Passers</a></li>
								<li><a href=""
									ng-click="navigate('/su/config/list?code=_sp_docs')">Service
										Providers</a></li>
							</ul></li>

						<li><a href=""
							ng-click="navigate('/su/config/list?code=_timeframe')">Lead
								Timeframe</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-class="activeMenu=='profile'?'active':''"><a
					href="" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false"><span
						class="fa fa-user-plus"></span> {{user.name}} <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/su/profile')">My
								Profile</a></li>
						<li><a href="" ng-click="navigate('/logoff')">Log-Off</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<br />
<br />
<br />
<br />