<nav class="navbar navbar-default navbar-fixed-top"
	ng-controller="menuCtlr" ng-init="setActiveMenu()">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div ng-include="'./views/menu/top-logo.html'"></div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-class="activeMenu=='users'?'active':''" ><a href="" ng-click="navigate('/de/users')">Users</a></li>
				<li ng-class="activeMenu=='config'?'active':''" class="dropdown"><a
					href="" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Config
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/de/config/masterlist')">Master
								Lists</a></li>
						<li><a href="" ng-click="navigate('/de/config/admin')">System
								Administration</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-class="activeMenu=='profile'?'active':''"><a
					href="" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Profile
						<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="navigate('/lp/profile')">My
								Profile</a></li>
						<li><a href="" ng-click="navigate('/logoff')">Log-Off</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


<br />
<br />
<br />
<br />