<div ng-controller="menuCtlr"s ng-init="loadUserMenu()">
	<div ng-if="utype==='su'" ng-include="'./views/menu/topmenu-su.html'"></div>
	<div ng-if="utype==='lg'" ng-include="'./views/menu/topmenu-lg.html'"></div>
	<div ng-if="utype==='sp'" ng-include="'./views/menu/topmenu-sp.html'"></div>
	<div ng-if="utype==='de'" ng-include="'./views/menu/topmenu-de.html'"></div>
	<div ng-if="utype==='cl'" ng-include="'./views/menu/topmenu-cl.html'"></div>
</div>
