<div class="container-fluid" ng-controller="lgCtlr"
	ng-init="loadBankDetails()">

	<div ng-if="loading==true" class="text-center"
		style="min-height: 400px; vertical-align: bottom;">
		Loading <i class="fa fa-spinner fa-spin"></i>
	</div>


	<div ng-if="!loading || loading==false" style="overflow: auto;">
		<form class="form-horizontal" name="pageForm">

			<div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">A/c Holder's Name</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" 
							ng-required="!bankdetails.owner_name"
							ng-model="bankdetails.owner_name"
							ng-readonly="bankdetails.editable === 0"
							maxlength="100" text-title autofocus="autofocus"
							placeholder="name as per bank records">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">PAN</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" name="txtPan"
							placeholder="pan number (e.g. AAAAA0000A)"
							
							uppercase ng-readonly="bankdetails.editable === 0"
							maxlength="10" pattern="[a-zA-Z]{5}\d{4}[a-zA-Z]{1}"
							ng-model="bankdetails.pan_number">
					</div>
				</div>
			</div>
			<div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Account Number</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" 
							ng-model="bankdetails.account_number"
							pattern="[a-zA-Z0-9]*" uppercase
							ng-required="!bankdetails.account_number"
							ng-readonly="bankdetails.editable === 0"
							placeholder="account number">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Account Type</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<select class="form-control" 
							ng-required="!bankdetails.account_type"
							ng-disabled="bankdetails.editable === 0"
							ng-model="bankdetails.account_type">
							<option value="">- Select -</option>
							<option value="Savings">Savings</option>
							<option value="Current">Current</option>
						</select>
					</div>
				</div>
			</div>

			<div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Bank</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" uppercase
							maxlength="100" text-org-name
							ng-required="!bankdetails.bank"
							ng-readonly="bankdetails.editable === 0"
							ng-model="bankdetails.bank" placeholder="bank name">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Branch/City</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" uppercase
							maxlength="100" text-org-name
							ng-required="!bankdetails.branch"
							ng-readonly="bankdetails.editable === 0"
							ng-model="bankdetails.branch" placeholder="bank branch">
					</div>
				</div>
			</div>

			<div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">IFSC Code</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<input type="text" class="form-control" 
							ng-model="bankdetails.ifsc_code"
							pattern="[a-zA-Z]{4}\d{7}"
							maxlength="11" uppercase
							ng-required="!bankdetails.ifsc_code"
							ng-readonly="bankdetails.editable === 0"
							placeholder="bank branch ifsc code  (e.g. AAAA0000000)">
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="col-sm-3">Verified</label>
					<div class="col-sm-9" style="padding-left: 0px;">
						<em>{{bankdetails.verified ===
							1?'verified':'not-verified'}}</em>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<hr ng-hide="utype==='lg' && bankdetails.editable === 0">

				<div class="form-group text-center">
					<button type="button" class="btn btn-content"
						ng-click="saveBankTab(bankdetails)" ng-if="bankdetails.editable === 1"
						ng-disabled="eventinprogress == true || pageForm.$invalid">
						Save <i ng-if="eventinprogress == true && eventmessage=='saving'"
							class="fa fa-spinner fa-spin"></i>
					</button>
					
					<button type="button" class="btn btn-content" ng-if="bankdetails.editable === 1"
						ng-click="resetBankTab()" ng-disabled="eventinprogress == true">Reset</button>

					<button type="button" class="btn btn-content"
						ng-click="toggleVerification(bankdetails)"
						ng-if="utype === 'su'"
						ng-disabled="eventinprogress == true || pageForm.$invalid">
						{{bankdetails.verified==1?'Change Details':'Mark Verified'}} <i ng-if="eventinprogress == true && eventmessage=='saving'"
							class="fa fa-spinner fa-spin"></i>
					</button>
				</div>
			</div>


		</form>
	</div>
</div>