
<div class="panel panel-content">
	<div class="panel-heading">
		{{ngDialogData.doc.uid ? 'Edit Document':'Add Document'}}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" name="frmPopup">
			<div class="form-group">
				<label class="col-sm-3">Type</label>
				<div class="col-sm-9" ng-init="loadDocTypes(ngDialogData.utype)">
					<select class="form-control" required
						ng-model="ngDialogData.doc.doc_type_uid"
						ng-disabled="ngDialogData.doc.verified==1"
						ng-options="type.doc_type_uid as type.doc_type for type in docTypes">
						<option value="">- Select Document Type -</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Title</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" required ng-model="ngDialogData.doc.doc_title" text-title>
				</div>
			</div>
			<div class="form-group" ng-if="!ngDialogData.doc.uid || (ngDialogData.doc.uid && ngDialogData.doc.verified==0)">
				<label class="col-sm-3">File (pdf)</label>
				<div class="col-sm-9">
					<input type="file" name="file" class="form-control"
					ngf-select
					ngf-pattern="'application/pdf'"
					accept="application/pdf" 
					ngf-max-size="10MB" 
					ng-model="ngDialogData.file" >
				</div>
			</div>
			<div class="form-group" ng-if="ngDialogData.doc.uid">
				<label class="col-sm-3">Verified</label>
				<div class="col-sm-9">
					<input type="checkbox" ng-model="ngDialogData.doc.verified"
					 ng-true-value="1" ng-false-value="0" ng-if="ngDialogData.allowverification==true">
					 
					 <span ng-if="!ngDialogData.allowverification || ngDialogData.allowverification==false">
					 	{{ngDialogData.doc.verified==1?'Yes':'No'}}
					 </span>
					
				</div>
			</div>
			<hr>
			<div class="text-center">
				<button class="btn btn-content" ng-disabled="savingDoc==true || frmPopup.$invalid"
					ng-click="saveDocument(ngDialogData)">
					Save <i
						ng-if="savingDoc==true"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content"
					ng-disabled="savingDoc==true" ng-click="closeThisDialog('')">Cancel</button>
			</div>

		</form>
	</div>
</div>