
<div class="container-fluid" ng-controller="documentCtlr"
	ng-init="loadMyDocuments()">

	<div class="col-sm-12" style="padding: 4px 0px 4px 0px;">
		<button type="button" class="btn btn-content pull-right"
			ng-if="manage.add==true" ng-click="addEditDocument()"
			title="New Document">New Document</button>
	</div>
	<div class="col-sm-12 table-responsive" style="padding: 0px;">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th style="width: 180px;">Type</th>
				<th>Title</th>
				<th class="text-center" style="width: 110px;">Verified</th>
				<th class="text-center" style="width: 110px;">Download</th>
				<th class="text-right hidden-sm" style="width: 150px;">Modified By</th>
				<th class="text-right hidden-sm" style="width: 150px;">Modified On</th>
				<th class="text-center hidden-sm" style="width: 80px;">Remove</th>
			</tr>

			<tr ng-if="loadingDocs == true">
				<td colspan="7" class="text-center hidden-sm">Loading <i class="fa fa-spinner fa-spin"></i></td>
				<td colspan="7" class="text-center visible-sm">Loading <i class="fa fa-spinner fa-spin"></i></td>
			</tr>
			<tr
				ng-if="(!loadingDocs || loadingDocs == false) && (!lstDocuments || lstDocuments.length == 0)">
				<td colspan="7" class="text-center hidden-sm">No Records Found</td>
				<td colspan="7" class="text-center visible-sm">No Records Found</td>
			</tr>

			<tr
				ng-repeat="item in lstDocuments track by $index"
				ng-if="loadingDocs==false">
				<td>{{item.doc_type}}</td>
				<td><a href="" ng-click="addEditDocument(item)">{{item.doc_title}}</a></td>
				<td class="text-center">
					{{item.verified==1?'Yes':'No'}}
				</td>
				<td class="text-center">
					<a href="./api/web/documents/download/{{item.user_uid}}/{{item.doc_path}}" 
						ng-if="item.doc_path"
						download="{{item.doc_path}}"
					>
					<span class="glyphicon glyphicon-save"></span>
				</a>
				<span ng-if="!item.doc_path" class="glyphicon glyphicon-save" style="color:#c0c0c0"></span>
				
				</td>
				<td class="text-right hidden-sm">{{item.modifiedby}}</td>
				<td class="text-right hidden-sm">{{item.modifiedon | date:'dd-MM-yyyy'}}</td>
				<td class="text-center hidden-sm">
					<a ng-if="item.verified!=1" href="" ng-click="removeDocument(item)"><span class="glyphicon glyphicon-trash" style="color:red"></span></a>
					<span class="glyphicon glyphicon-trash" ng-if="item.verified==1" style="color:#c0c0c0"></span>
				</td>
			</tr>

		</table>
	</div>

</div>