<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="loadHome()">

	<breadcrumb class="col-sm-8" ng-model="bcArray"> </breadcrumb>
	<div class="col-sm-12">
		<form class="form-inline">
			<div class="form-group">
				<label>Country : </label> <select class="form-control"
					ng-model="filter.country" ng-change="filterChange('country')"
					ng-options="country as country.description for country in lstCountries">
					<option value="">- All -</option>
				</select>
			</div>
			<div class="form-group" ng-if="lstStates && lstStates.length>0">
				<label>State : </label> <select class="form-control"
					ng-model="filter.state" ng-change="filterChange('state')"
					ng-options="state as state.description for state in lstStates | orderBy: 'description'">
					<option value="">- All -</option>
				</select>
			</div>
			<div class="form-group" ng-if="lstDistricts && lstDistricts.length>0">
				<label>District : </label> <select class="form-control"
					ng-model="filter.district" ng-change="filterChange('district')"
					ng-options="district as district.description for district in lstDistricts">
					<option value="">- All -</option>
				</select>
			</div>
			<div class="form-group pull-right">
				<button type="button" class="btn btn-content" ng-if="filter.country" ng-click="resetFilter()">Clear Filter</button>
				
				<div class="btn-group" ng-if="filter.country">
					<button type="button" class="btn btn-content dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Add New <span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
						<li><a href="" ng-click="addList('state')">State</a></li>
						<li ng-if="filter.state"><a href=""
							ng-click="addList('district')">District</a></li>
						<li ng-if="filter.district"><a href=""
							ng-click="addList('city')">City</a></li>
					</ul>
				</div>


			</div>
		</form>
	</div>
</div>


<div class="col-sm-12 table-responsive">
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th style="width: 130px;">Code</th>
			<th>Description</th>
			<th class="text-center" style="width: 100px;">Active</th>
			<th class="text-right" style="width: 150px;">Created On</th>
			<th class="text-right" style="width: 150px;">Modified On</th>
		</tr>

		<tr ng-if="loading == true">
			<td colspan="5" class="text-center">Loading <i
				class="fa fa-spinner fa-spin"></i></td>
		</tr>

		<tr ng-if="loading == false && locations.length == 0">
			<td colspan="5" class="text-center">No Records Found</td>
		</tr>

		<tr
			ng-repeat="item in locations | orderBy : ['seq', 'code'] track by $index"
			ng-if="loading==false">
			<td><a href="" ng-click="editList(item)">{{item.code}}</a></td>
			<td>{{item.description}}</td>
			<td class="text-center"><span class="glyphicon"
				ng-class="item.active==1?'glyphicon-ok':'glyphicon-remove'"></td>
			<td class="text-right">{{item.createdon | date:'dd-MM-yyyy'}}</td>
			<td class="text-right">{{item.modifiedon | date:'dd-MM-yyyy'}}</td>
		</tr>

	</table>

	<nav ng-if="totalpages>1 && loading==false">
		<ul class="pager">
			<li class="previous disabled" ng-if="!prevPage"><a href=""><span
					aria-hidden="true">&larr;</span> Previous</a></li>
			<li class="previous" ng-if="prevPage"><a href=""
				ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
					Previous</a></li>
			<li>Page {{pgnum}} of {{totalpages}}</li>
			<li class="next" ng-if="nextPage"><a href=""
				ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
			<li class="next disabled" ng-if="!nextPage"><a href="">Next
					<span aria-hidden="true">&rarr;</span>
			</a></li>
		</ul>
	</nav>
</div>

</div>