
<div class="panel panel-content">
	<div class="panel-heading">
		<div ng-switch="ngDialogData.type">
			<span ng-switch-when="city">City Info</span>
			<span ng-switch-when="district">District Info</span>
			<span ng-switch-when="state">State Info</span>
			<span ng-switch-when="country">Country Info</span>
		</div>
	
	</div>
	<div class="panel-body">
		<form class="form-horizontal">

			<div class="form-group" ng-if="ngDialogData.type=='city' || ngDialogData.type=='district' || ngDialogData.type == 'state'">
				<label class="col-sm-3">Country</label>
				<div class="col-sm-9">
					<span>{{ngDialogData.filter.country.description}}</span>
				</div>
			</div>

			<div class="form-group" ng-if="ngDialogData.type=='city' || ngDialogData.type=='district'">
				<label class="col-sm-3">State</label>
				<div class="col-sm-9">
					<span>{{ngDialogData.filter.state.description}}</span>
				</div>
			</div>

			<div class="form-group" ng-if="ngDialogData.type=='city'">
				<label class="col-sm-3">District</label>
				<div class="col-sm-9">
					<span>{{ngDialogData.filter.district.description}}</span>
				</div>
			</div>




			<div class="form-group">
				<label class="col-sm-3">Code</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" maxlength="30" ng-if="!ngDialogData.list.uid"
						ng-model="ngDialogData.list.code" required text-code lowercase autofocus>
					<span ng-if="ngDialogData.list.uid" ng-bind="ngDialogData.list.code"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Description</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" text-alphanum
						ng-model="ngDialogData.list.description" maxlength="100" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3">Active</label>
				<div class="col-sm-9">
					<input type="checkbox" 
						ng-model="ngDialogData.list.active" ng-true-value="1" ng-false-value="0">
				</div>
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1"
					ng-click="saveList(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='saving'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content"
					ng-disabled="eventinprogress==1" ng-click="closeThisDialog('')">Cancel</button>
			</div>
		</form>
	</div>
</div>