
<div ng-init="loadLeadServiceProviders()">
	<div ng-if="loading == true" class="text-center">
		<span >Loading <i
			class="fa fa-spinner fa-spin"></i></span>
	</div>

	<div class="table-responsive" ng-if="!loading || loading == false">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th class="col-sm-3 text-center">Category</th>
				<th class="col-sm-3 text-center">Subcategory</th>
				<th class="col-sm-3 text-center">Timeframe</th>
				<th class="col-sm-3 text-center">Amount ( <li class="fa fa-inr"></li> )</th>
			</tr>
			<tr>
				<td class="text-center">{{lead.category}}
				</th>
				<td class="text-center">{{lead.subcategory}}
				</th>
				<td class="text-center">{{lead.timeframe}}
				</th>
				<td class="text-center">{{lead.ticket_value | currency}}
				</th>
			</tr>
		</table>
	</div>
	<div class="table-responsive" ng-if="!loading || loading == false">

		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th>Provider</th>
				<th class="text-center hidden-sm" style="width: 120px;">Presence</th>
				<th class="text-center hidden-sm" style="width: 140px;">Shared On</th>
				<th class="text-center" style="width: 200px;">Acceptance</th>
				<th class="text-center" style="width: 120px;">Status</th>
				<th class="text-center" style="width: 140px;">Published</th>
			</tr>

			<tr ng-if="splst.length == 0">
				<td colspan="7" class="text-center hidden-sm">No Records Found</td>
				<td colspan="4" class="text-center visible-sm">No Records Found</td>
			</tr>
			<!--  
				lead.leadtype.toLowerCase() == 'past'
				
				| filter : {'sharing_status':1}
				
			-->
			<tr
				ng-repeat="sp in splst | filter: serviceProviderFilter | orderBy : 'organization' | limitTo: recLimit  as filtered track by $index"
				>
				<td >
					<span>{{sp.organization}}</span></td>
				<td class="text-center hidden-sm">{{sp.state_presence}}</td>
				<td class="text-center hidden-sm">{{sp.shared_on | date: 'dd-MM-yyyy HH:mm'}}</td>
				<td class="text-center">
					<span ng-if="sp.acceptance_status">{{sp.acceptance_status}}</span> 
					<span ng-if="sp.acceptance_status == 'Viewed'"> ({{sp.viewed_on | date : 'dd-MM-yyyy hh:mm'}})</span>
					<span ng-if="sp.acceptance_status != 'Viewed' && sp.accepted_on"> ({{sp.accepted_on | date : 'dd-MM-yyyy hh:mm'}})</span>
				</td>
				<td class="text-center">
					<kbd ng-if="sp.status == 'Approved'" style="background-color:#006600">{{sp.status}}</kbd>
					<kbd ng-if="sp.status == 'Declined' || sp.status == 'Terminated'" style="background-color:#990000">{{sp.status}}</kbd>
					<span  ng-if="sp.status == 'New' || sp.status == 'In Progress'">{{sp.status}}</span>
				</td>
				<td class="text-center">
					<div
						ng-if="lead.status == 'Verified' || lead.status == 'In Progress'">
						<button type="button" class="btn btn-success btn-sm"
							ng-click="shareUnshareThisLead(sp, 'share')"
							ng-disabled="sharingLead==true && shareSPUID[sp.sp_uid] == true"
							ng-if="sp.sharing_status==0">
							Click to Share <i
								ng-if="sharingLead==true && shareSPUID[sp.sp_uid] == true"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm"
							ng-click="shareUnshareThisLead(sp, 'unshare')"
							ng-if="sp.sharing_status==1 && sp.acceptance_status=='Yet To View'">
							Click to Revoke <i
								ng-if="sharingLead==true && shareSPUID==sp_uid"
								class="fa fa-spinner fa-spin"></i>
						</button>
						<span
							ng-if="sp.sharing_status==1 && sp.acceptance_status != 'Yet To View' && sp.status != 'Approved'">Published</span>
						<span 
							ng-if="sp.sharing_status==1 && sp.status == 'Approved'">{{sp.apr_ticket_value | currency}}</span>
					</div>
					<div ng-if="lead.leadtype.toLowerCase() == 'past'">
						<kbd style="background-color: #006600"
							ng-if="sp.sharing_status==1 && sp.status == 'Approved'">{{sp.apr_ticket_value | currency}}</kbd>
						<kbd style="background-color: #990000"
							ng-if="sp.sharing_status==1 && sp.acceptance_status == 'Accepted' && sp.status == 'Declined'">Declined</kbd>

						<kbd
							ng-if="sp.sharing_status==1 && sp.acceptance_status == 'Rejected'">Not Interested</kbd>

						<kbd style="background-color: #990000"
							ng-if="sp.sharing_status==1 && sp.acceptance_status == 'Yet To View'">Missed</kbd>
						<kbd style="background-color: #990000"
							ng-if="sp.sharing_status==1 && sp.acceptance_status == 'Viewed'">Ignored</kbd>
						<span ng-if="sp.sharing_status==0"></span>
					</div>
				</td>
			</tr>
			<tr ng-if="splst.length>recLimit">
				<td colspan="7" class="text-center hidden-sm"><a href=""
					ng-click="loadMore()"> <span
						class="glyphicon glyphicon-triangle-bottom"></span></a></td>
				<td colspan="4" class="text-center visible-sm"><a href=""
					ng-click="loadMore()"> <span
						class="glyphicon glyphicon-triangle-bottom"></span></a></td>
			</tr>
			<tr ng-if="filtered.length==0 && splst.length > 0">
				<td colspan="7" class="text-center hidden-sm">No Records Found</td>
				<td colspan="4" class="text-center visible-sm">No Records Found</td>
			</tr>

		</table>
	</div>
</div>
