<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-controller="leadmgmtCtlr"
     ng-init="initDetails()">

    <breadcrumb ng-model="bcArray"></breadcrumb>
    <div ng-init="setDefaultTab('details')">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="selectedTab == 'details' ? 'active' : ''">
                <a href="javascript://" ng-click="switchTab('details')">Details</a>
            </li>
            <li role="presentation"
                ng-class="selectedTab == 'serviceprovider' ? 'active' : ''"><a
                    href="javascript://" ng-click="switchTab('serviceprovider')">Service
                    Providers</a></li>
        </ul>

        <div class="tab-content" ng-if="selectedTab == 'details'"
             ng-init="loadLeadDetail()">
            <div ng-if="loading == true" class="text-center"
                 style="min-height: 400px; vertical-align: bottom;">
                Loading <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div ng-if="loading == false">

                <div class="col-sm-8">
                    <form class="form-horizontal" name="frmDetails">
                        <div class="form-group col-md-12 ">
                            <label class="col-md-2 col-sm-4">UID</label>
                            <div class="col-md-10 col-sm-8">
                                <span ng-bind="lead.uid"></span>
                            </div>
                        </div>
                        <!-- 						<div class="form-group col-md-6 hidden-sm hidden-md">
                                                                                <label class="col-sm-4">LeadPasser</label>
                                                                                <div class="col-sm-8">
                                                                                        <span ng-bind="lead.lg_name"></span>
                                                                                </div>
                                                                        </div> -->
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       ng-required="!lead.client_name" ng-model="lead.client_name">
                                <span ng-if="lead.status != 'Pending Verification'"
                                      class="form-control" ng-bind="lead.client_name"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Organisation</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       ng-model="lead.client_org"> <span
                                       ng-if="lead.status != 'Pending Verification'"
                                       class="form-control" ng-bind="lead.client_org"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Mobile</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-required="!lead.client_phone"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
                                       ng-model="lead.client_phone"> <span
                                       ng-if="lead.status != 'Pending Verification'"
                                       class="form-control" ng-bind="lead.client_phone"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       ng-model="lead.client_email"> <span
                                       ng-if="lead.status != 'Pending Verification'"
                                       class="form-control" ng-bind="lead.client_email"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" ng-init="getMasterLocations()">
                            <label class="col-sm-4">State</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-required="!lead.state_uid"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-disabled="lead.status != 'Pending Verification'"
                                        ng-change="onStateChange()" ng-model="lead.state_uid">
                                    <option value="">- Select State -</option>
                                    <option ng-repeat="state in states| orderBy:'state_name'"
                                            value="{{state.state_uid}}">{{state.state_name}}</option>
                                    <option value="other">- Not listed -</option>
                                </select> <span ng-if="lead.status != 'Pending Verification'"
                                                class="form-control">{{lead.state|| "Not Listed"}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">City</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-change="onCityChange()"
                                        ng-required="!lead.city_uid"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-disabled="lead.status != 'Pending Verification' || !lead.state_uid || lead.state_uid == 'other'"
                                        ng-model="lead.city_uid">
                                    <option value="">- Select City -</option>
                                    <option
                                        ng-repeat="city in cities| filter:{'state_uid':lead.state_uid} | orderBy:['city_name']"
                                        value="{{city.city_uid}}">{{city.city_name}}</option>
                                    <option value="other">- Not listed -</option>
                                </select> <span ng-if="lead.status != 'Pending Verification'"
                                                class="form-control">{{lead.city|| "Not Listed"}}</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6"
                             ng-if="lead.state_uid == 'other' || lead.city_uid == 'other'">
                            <label class="col-sm-4">Other State</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-required="lead.state_uid=='other' && !lead.other_state"
                                       ng-disabled="lead.status != 'Pending Verification' || lead.state_uid != 'other'"
                                       ng-model="lead.other_state"> <span
                                       ng-if="lead.status != 'Pending Verification'"
                                       class="form-control" ng-bind="lead.other_state"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6"
                             ng-if="lead.state_uid == 'other' || lead.city_uid == 'other'">
                            <label class="col-sm-4">Other City</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       ng-required="(lead.state_uid=='other' || lead.city_uid=='other') && !lead.other_city"
                                       ng-model="lead.other_city"> <span
                                       ng-if="lead.status != 'Pending Verification'"
                                       class="form-control" ng-bind="lead.other_city"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6" ng-init="getMasterCatalog()">
                            <label class="col-sm-4">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-required="!lead.category_uid"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-disabled="lead.status != 'Pending Verification'"
                                        ng-model="lead.category_uid"
                                        ng-change="lead.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">- Select Category -</option>
                                </select> <span ng-if="lead.status != 'Pending Verification'"
                                                class="form-control" ng-bind="lead.category"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Subcategory</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-required="!lead.subcategory_uid"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-disabled="lead.status != 'Pending Verification' || !lead.category_uid"
                                        ng-model="lead.subcategory_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:lead.category_uid} | orderBy:'description'">
                                    <option value="">- Select Subcategory -</option>
                                </select> <span ng-if="lead.status != 'Pending Verification'"
                                                class="form-control" ng-bind="lead.subcategory"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Timeframe</label>
                            <div class="col-sm-8" ng-init="loadTimeframes()">
                                <select class="form-control" ng-required="!lead.timeframe_uid"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-model="lead.timeframe_uid"
                                        ng-disabled="lead.status != 'Pending Verification'"
                                        ng-options="tf.uid as tf.description for tf in timeframes| filter: {'active':1}  | orderBy : 'seq'">
                                    <option value="">- Select -</option>
                                </select> <span ng-if="lead.status != 'Pending Verification'"
                                                class="form-control" ng-bind="lead.timeframe"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Amount ( <span class="fa fa-inr"></span> )</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0"
                                       ng-if="lead.status == 'Pending Verification'"
                                       ng-disabled="lead.status != 'Pending Verification'"
                                       ng-model="lead.ticket_value" ng-required="!lead.ticket_value">
                                <span ng-if="lead.status != 'Pending Verification'"
                                      class="form-control" ng-bind="lead.ticket_value | number"></span>
                            </div>

                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-sm-12">Other Information</label>
                            <div class="col-sm-12">
                                <textarea rows="4" cols="" class="form-control"
                                          ng-disabled="lead.status != 'Pending Verification'"
                                          ng-model="lead.otherinfo"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12">

                            <div class="col-sm-6 text-left" ng-if="lead.uid">
                                <button class="btn btn-content" type="button"
                                        ng-disabled="savingLead == true || frmDetails.$invalid"
                                        ng-click="navigateBack()">
                                    <span class="glyphicon glyphicon-triangle-left"></span> Back
                                </button>
                            </div>
                            <div
                                class="col-sm-6 text-right">
                                <button class="btn btn-content" type="button"
                                        ng-if="lead.status == 'Pending Verification'"
                                        ng-disabled="savingLead == true || frmDetails.$invalid"
                                        ng-click="saveLeadDetail()">
                                    Save <i ng-if="savingLead == true" class="fa fa-spinner fa-spin"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div style="border: 1px solid #ccc; padding-top:12px;box-shadow: -2px -2px 5px #888888;" class="col-sm-4">

                    <div>
                        <div class="panel panel-default">
                            <div class="panel-body"
                                 ng-class="(lead.status == 'Pending Verification' || lead.status == 'Verified' || lead.status == 'In Progress' || lead.status == 'Completed') ? 'bg-success' : 'bg-danger'">
                                <div class="lead text-center" style="margin-bottom: 0px;">
                                    <strong>{{lead.status}}</strong>
                                    <h6 ng-if="lead.status == 'Verified'">
                                        <em>Please share the lead with Service Providers</em>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="lead.status == 'Pending Verification'">
                        <form class="form-horizontal" name="frmStatus">
                            <div class="panel panel-default">
                                <div class="panel-heading">Verification</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select class="form-control" ng-model="newStatus" required
                                                    ng-options="s.name as s.label for s in all_status| filter : {'type':'verification'}">
                                                <option value="">- Select Status -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea rows="3" class="form-control"
                                                      ng-required="newStatus!='Verified'"
                                                      ng-model="newStatusComment" placeholder="comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-content pull-right"
                                                    ng-click="updateLeadStatusFromDetail(lead, newStatus, newStatusComment)"
                                                    ng-disabled="frmStatus.$invalid">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="lead.status != 'Pending Verification'">
                        <div class="panel panel-default">
                            <div class="panel-heading">Comments</div>
                            <div class="panel-body">
                                <p>
                                    <strong>Verification</strong> : {{lead.comments_verification}}
                                </p>
                                <p ng-if="lead.leadtype.toLowerCase() == 'past'">
                                    <strong>Final</strong> : {{lead.comments_final}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="lead.status == 'In Progress'">
                        <form class="form-horizontal" name="frmStatus">
                            <div class="panel panel-default">
                                <div class="panel-heading">Closure</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select class="form-control" ng-model="newStatus" required
                                                    ng-options="s.name as s.label for s in all_status| filter : {'type':'final'}">
                                                <option value="">- Select Status -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="newStatus == 'Completed'">
                                        <div class="col-sm-12">
                                            <input type="number" class="form-control" required
                                                   ng-model="lead.apr_ticket_value"
                                                   placeholder="approved ticket size">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea rows="3" class="form-control" required
                                                      ng-model="newStatusComment" placeholder="comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-content pull-right"
                                                    ng-click="updateLeadStatusFromDetail(lead, newStatus, newStatusComment)"
                                                    ng-disabled="frmStatus.$invalid">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="panel panel-content">
                            <div class="panel-heading">{{lead.leadtype.toLowerCase() == 'past' ? 'Final' : 'Expected'}}
                                Result</div>
                            <ul class="list-group" style="border: 1px solid #ccc;">
                                <li class="list-group-item"><label>Expected Amount</label> <span class="pull-right">{{lead.ticket_value|
										currency}}</span></li>
                                <li class="list-group-item"><label>Approved Amount</label> <span class="pull-right">{{ (lead.apr_ticket_value
                                                            || 0) | currency}}</span></li>

                                <li class="list-group-item"><label>LP Reward
                                        {{lead.leadtype.toLowerCase() == 'open' ? '(approx)' : ''}} </label> <span
                                        class="pull-right">{{
                                                            (lead.leadtype.toLowerCase() == 'past' ? (lead.apr_reward || 0)
                                                                    : (lead.reward || 0)) | currency}}</span></li>

                                <li class="list-group-item"><label>SP Cost
                                        {{lead.leadtype.toLowerCase() == 'open' ? '(approx)' : ''}} </label> <span
                                        class="pull-right">{{
                                                            (lead.leadtype.toLowerCase() == 'past' ? (lead.apr_purchase_cost
                                                                    || 0) : (lead.purchase_cost || 0)) | currency}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" ng-if="selectedTab == 'serviceprovider'">
        <div class="col-sm-12">
            <div ng-include="'./views/leadmgmt/lead-service-providers.html'"></div>
        </div>

    </div>

</div>
