<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-controller="leadmgmtCtlr"
     ng-init="initDetails()">

    <breadcrumb ng-model="bcArray"></breadcrumb>

    <div ng-init="setDefaultTab('details')">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="selectedTab == 'details' ? 'active' : ''">
                <a href="javascript://" ng-click="switchTab('details')">Details</a>
            </li>
        </ul>

        <div class="tab-content" ng-if="selectedTab == 'details'"
             ng-init="loadSPLeadDetails()">
            <div class="col-sm-8">

                <form class="form-horizontal" name="frmPopup">

                    <div class="form-group col-md-12">
                        <label class="col-md-2 col-sm-4">UID</label>
                        <div class="col-md-10 col-sm-8">
                            <span ng-bind="lead.uid"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Name</label>
                        <div class="col-sm-8">
                            <span
                                ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_name : '&lt;Undisclosed&gt;'"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Organization</label>
                        <div class="col-sm-8">
                            <span
                                ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_org : '&lt;Undisclosed&gt;'"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Mobile</label>
                        <div class="col-sm-8">
                            <span
                                ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_phone : '&lt;Undisclosed&gt;'"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Email</label>
                        <div class="col-sm-8">
                            <span
                                ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_email : '&lt;Undisclosed&gt;'"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">State</label>
                        <div class="col-sm-8">
                            <span ng-bind="lead.other_state || lead.state"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">City</label>
                        <div class="col-sm-8">
                            <span ng-bind="lead.other_city || lead.city"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Category</label>
                        <div class="col-sm-8">
                            <span ng-bind="lead.category"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Subcategory</label>
                        <div class="col-sm-8">
                            <span ng-bind="lead.subcategory"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Timeframe</label>
                        <div class="col-sm-8" ng-init="loadTimeframes()">
                            <span ng-bind="lead.timeframe"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-4">Amount ( <li class="fa fa-inr"></li> )</label>
                        <div class="col-sm-8">
                            <span>{{lead.ticket_value| number}}</span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-sm-12">Other Information</label>
                        <div class="col-sm-12">
                            <textarea rows="4" cols="" class="form-control"
                                      ng-disabled="true" ng-model="lead.otherinfo"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-sm-2">
                            <button class="btn btn-content" type="button"
                                    ng-disabled="savingLead == true || frmDetails.$invalid"
                                    ng-click="navigateBack()">
                                <span class="glyphicon glyphicon-triangle-left"></span> Back
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div style="border: 1px solid #ccc; padding-top:12px;box-shadow: -2px -2px 5px #888888;" class="col-sm-4">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-body"
                             ng-class="((lead.lead_status == 'In Progress' && lead.status == 'In Progress') || lead.status == 'Approved') ? 'bg-success' : 'bg-danger'">
                            <div class="lead text-center" style="margin-bottom: 0px;">
                                <strong>{{lead.status}}</strong>
                                <br>
                            </div>
                            <div class="text-center" ng-if="lead.lead_status != 'In Progress' && lead.status == 'In Progress'">
                                <em class="small" >(Terminated by Admin)</em>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="lead.status == 'Approved'">
                        <div class="panel-body"
                             ng-class="'bg-success'">
                            <div class="lead text-center" style="margin-bottom: 0px;">
                                <strong>{{lead.apr_ticket_value| currency}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" name="frmStatus">
                    <div class="panel panel-default"
                         ng-if="lead.lead_status == 'In Progress' && lead.status == 'In Progress'">
                        <div class="panel-heading">Status Comments</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select class="form-control" ng-model="newStatus" required
                                            ng-options="s.name as s.label for s in sp_lead_status| filter : {'type':'sp_comments'}">
                                        <option value="">- Select Status -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-if="newStatus == 'Approved'">
                                <div class="col-sm-12">
                                    <input type="number" ng-model="lead.apr_ticket_value"
                                           class="form-control" required placeholder="Approved Value">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea rows="3" class="form-control"
                                              ng-required="newStatus!='Verified'"
                                              ng-model="newStatusComment" placeholder="comments"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-content pull-right"
                                            ng-click="updateSPLeadStatusFromDetail(newStatus, newStatusComment)"
                                            ng-disabled="frmStatus.$invalid">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Comments History</div>
                        <div class="panel-body"
                             style="max-height: 130px; overflow: auto;">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p ng-bind-html="lead.commentsHistory"></p>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>