<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-controller="leadmgmtCtlr"
     ng-init="init()">

    <breadcrumb class="col-sm-8" ng-model="bcArray"> </breadcrumb>
    <div class="col-sm-4">
        <button type="button" class="btn btn-content pull-right" style="width:100px;"
                ng-click="createNewLead()">

            <span class="glyphicon glyphicon-plus fa-3x pull-left" style="color:yellow"></span><span
                class="hidden-xs hidden-sm pull-right" style="font-size: 16px;"><blink>New <br>Lead </blink> </span>
        </button>
    </div>
    <div class="col-sm-12">
        <div ng-init="setDefaultTab('open')">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="selectedTab == 'open' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('open')">Open</a>
                </li>
                <li role="presentation" ng-class="selectedTab == 'draft' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('draft')">Draft</a>
                </li>
                <li role="presentation" ng-class="selectedTab == 'past' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('past')">Past</a>
                </li>
            </ul>

            <div class="tab-content" ng-if="selectedTab == 'open'">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-3">
                                <input type="text" class="form-control" placeholder="name"
                                       ng-model="filter.client_name">
                            </div>
                            <div class="col-md-2 hidden-sm">
                                <input type="text" class="form-control"
                                       placeholder="phone number" ng-model="filter.client_phone">
                            </div>
                            <div class="col-md-2 col-sm-2" ng-init="getMasterCatalog()">
                                <select class="form-control" ng-model="filter.category_uid"
                                        ng-change="filter.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" ng-model="filter.subcategory_uid"
                                        ng-disabled="!filter.category_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                    <option value="">All Sub-Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select class="form-control" ng-model="filter.status"
                                        ng-options="s.name as s.name for s in all_status| filter:{'type':'open'} | orderBy:'name'">
                                    <option value="">All Status</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-default" ng-click="searchLeads(filter)">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                            class="hidden-md hidden-sm">Search</span>
                                </button>
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-eraser" aria-hidden="true"
                                          ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-center" style="width: 140px;">Status</th>
                            <th class="text-right hidden-sm" style="width: 80px;">Age (days)</th>
                            <th class="text-right hidden-sm hidden-md" style="width: 120px;">Expected Reward</th>
                            <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="8" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr
                            ng-repeat="lead in leadslst| filter: {status : '!New'} |orderBy : 'name' as lst track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editLead(lead, selectedTab)">{{lead.client_name}}</a>
                                <kbd class="pull-right hidden-md hidden-sm" ng-bind="lead.ticket_value | currency">
                                </kbd></td>
                            <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-center">{{lead.status}}</td>
                            <td class="text-center hidden-sm">{{lead.age}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.reward| currency}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon| date:'dd-MM-yyyy,HH:mm'}}</td>
                        </tr>

                        <tr ng-if="loading == false && lst.length == 0">
                            <td colspan="8" class="text-center hidden-sm hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                        </tr>

                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="tab-content" ng-if="selectedTab == 'draft'">
                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-center" style="width: 140px;">Status</th>
                            <th class="text-right hidden-sm" style="width: 120px;">Expected Reward</th>
                            <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="7" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr
                            ng-repeat="lead in leadslst| filter: {status:'New'} |orderBy : 'name' as lst track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editLead(lead, selectedTab)">{{lead.client_name}}</a>
                                <kbd class="pull-right hidden-md hidden-sm"> {{lead.ticket_value| currency}}
                                </kbd></td>
                            <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-center">{{lead.status}}</td>
                            <td class="text-right hidden-sm">{{lead.reward| currency}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon| date:'dd-MM-yyyy,HH:mm'}}</td>
                        </tr>

                        <tr ng-if="loading == false && lst.length == 0">
                            <td colspan="7" class="text-center hidden-sm hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                        </tr>

                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="tab-content" ng-if="selectedTab == 'past'">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-3">
                                <input type="text" class="form-control" placeholder="name"
                                       ng-model="filter.client_name">
                            </div>
                            <div class="col-md-2 hidden-sm">
                                <input type="text" class="form-control"
                                       placeholder="phone number" ng-model="filter.client_phone">
                            </div>
                            <div class="col-md-2 col-sm-2" ng-init="getMasterCatalog()">
                                <select class="form-control" ng-model="filter.category_uid"
                                        ng-change="filter.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" ng-model="filter.subcategory_uid"
                                        ng-disabled="!filter.category_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                    <option value="">All Sub-Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select class="form-control" ng-model="filter.status"
                                        ng-options="s.name as s.name for s in all_status| filter:{'type':'past'} | orderBy:'name'">
                                    <option value="">All Status</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-default" ng-click="searchLeads(filter)">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                            class="hidden-md hidden-sm">Search</span>
                                </button>
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-eraser" aria-hidden="true"
                                       ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 160px;">Category</th>
                            <th style="width: 160px;">Sub-Category</th>
                            <th class="text-center" style="width: 100px;">Status</th>
                            <th class="text-center hidden-sm hidden-md" style="width: 80px;">Age (days)</th>
                            <th class="text-right hidden-sm" style="width: 120px;">Reward</th>
                            <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="8" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr
                            ng-repeat="lead in leadslst| orderBy : 'name' as lst track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editLead(lead, selectedTab)">{{lead.client_name}}</a></td>
                            <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-center">

                                <div ng-switch="lead.status" style="font-size: 120%;" 
                                     tooltips tooltip-template="{{lead.status}}" tooltip-side="right"
                                     >

                                    <li ng-switch-when="Completed" class="fa fa-thumbs-up"
                                        style="color: #006600" title="{{lead.status}}"></li>
                                    <li ng-switch-when="Withdrawn" class="fa fa-exclamation-circle"
                                        style="color: #990000" title="{{lead.status}}"></li>
                                    <li ng-switch-when="Verification Failed"
                                        class="fa fa-thumbs-down" style="color: #990000"
                                        title="{{lead.status}}"></li>
                                    <li ng-switch-when="Declined" class="fa fa-thumbs-o-down"
                                        style="color: #990000" title="{{lead.status}}"></li>
                                    <li ng-switch-when="Rejected By All" class="fa fa-thumbs-down"
                                        style="color: #990000" title="{{lead.status}}"></li>

                                    <li ng-switch-when="Terminated" class="fa fa-thumbs-down"
                                        style="color: #990000" title="{{lead.status}}"></li>
                                    <li ng-switch-when="Invalid Lead" class="fa fa-ban"
                                        style="color: #990000" title="{{lead.status}}"></li> <span
                                        ng-switch-default>{{lead.sp_approvals}}</span>
                                </div>

                            </td>
                            <td class="text-center hidden-sm hidden-md">{{lead.age}}</td>
                            <td class="text-right hidden-sm">{{lead.reward| currency}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon| date:'dd-MM-yyyy,HH:mm'}}</td>
                        </tr>
                        <tr ng-if="loading == false && lst.length == 0">
                            <td colspan="8" class="text-center hidden-sm hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Click <a href="" class="text-danger" ng-click="createNewLead()">Here</a> to submit a new lead</td>
                        </tr>

                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>