<style>
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 800px !important;
	top: -80px !important;
}
</style>
<div class="panel panel-content" style="margin-bottom: 0px;">
	<div class="panel-heading">
		<span> {{ngDialogData.lead.uid?"View " : "New "}} Lead
			Information </span>
		<span class="pull-right">{{ngDialogData.lead.status}}</span>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" name="frmPopup">
			
			<div class="form-group">
				<label class="col-sm-2">Name</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.client_name}}</span>
				</div>
				<label class="col-sm-2">Organization</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.client_org}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Mobile</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.client_phone}}</span>
				</div>
				<label class="col-sm-2">Email</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.client_email}}</span>
				</div>
			</div>
			<div class="form-group" ng-init="getMasterLocations()">
				<label class="col-sm-2">State</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.other_state || ngDialogData.lead.state}}</span>
				</div>
				<label class="col-sm-2">City</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.other_city || ngDialogData.lead.city}}</span>
				</div>
			</div>
			<hr>
			<div class="form-group" ng-init="getMasterCatalog()">
				<label class="col-sm-2">Category</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.category}}</span>
				</div>
				<label class="col-sm-2">Subcategory</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.subcategory}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Timeframe</label>
				<div class="col-sm-4" ng-init="loadTimeframes()">
					<span>{{ngDialogData.lead.timeframe}}</span>
				</div>
				<label class="col-sm-2">Amount ( <li class="fa fa-inr"></li> )</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.ticket_value | number}}</span>
				</div>
			</div>
			<div class="form-group" ng-if="ngDialogData.lead.status=='Completed'">
				<label class="col-sm-6"></label>
				<label class="col-sm-2">Approval for</label>
				<div class="col-sm-4">
					<span>{{ngDialogData.lead.apr_ticket_value | currency}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12">Other Information</label>
				<div class="col-sm-12">
					<textarea rows="4" cols="" class="form-control" ng-disabled="true"
						ng-model="ngDialogData.lead.otherinfo"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 text-left"
					ng-if="ngDialogData.lead.uid">
					
					<div class="btn-group dropup">
						<button type="button" class="btn btn-content dropdown-toggle" 
							ng-disabled="savingLead==true  || frmPopup.$invalid"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="cloneLead(ngDialogData)"><i class="fa fa-clone" aria-hidden="true"></i> Clone</a></li>
						</ul>
					</div>
				</div>
				<div
					ng-class="ngDialogData.lead.uid?'col-sm-6 text-right':'col-sm-12 text-center'">
					<button type="button" class="btn btn-content"
						ng-disabled="savingLead==true" ng-click="closeThisDialog('')">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>