<style>
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 800px !important;
	top: -80px !important;
}
</style>
<div class="panel panel-content" style="margin-bottom: 0px;">
	<div class="panel-heading">
		<span> {{ngDialogData.lead.uid?"Edit " : "New "}} Lead
			Information </span> <span class="pull-right">{{ngDialogData.lead.status}}</span>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" name="frmPopup">

			<div class="form-group">
				<label class="col-sm-2">Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						ng-required="!ngDialogData.lead.client_name"
						ng-model="ngDialogData.lead.client_name">
				</div>
				<label class="col-sm-2">Organization</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						ng-model="ngDialogData.lead.client_org">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Mobile</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						ng-required="!ngDialogData.lead.client_phone"
						pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
						ng-model="ngDialogData.lead.client_phone">
				</div>
				<label class="col-sm-2">Email</label>
				<div class="col-sm-4">
					<input type="email" class="form-control"
						ng-model="ngDialogData.lead.client_email">
				</div>
			</div>
			<div class="form-group" ng-init="getMasterLocations()">
				<label class="col-sm-2">State</label>
				<div class="col-sm-4">
					<select class="form-control"
						ng-required="!ngDialogData.lead.state_uid"
						ng-change="onStateChange()" ng-model="ngDialogData.lead.state_uid">
						<option value="">- Select State -</option>
						<option ng-repeat="state in states | orderBy:'state_name'"
							value="{{state.state_uid}}">{{state.state_name}}</option>
						<option value="other">- Not listed -</option>
					</select>
				</div>
				<label class="col-sm-2">City</label>
				<div class="col-sm-4">
					<select class="form-control" ng-change="onCityChange()"
						ng-required="!ngDialogData.lead.city_uid"
						ng-disabled="!ngDialogData.lead.state_uid || ngDialogData.lead.state_uid=='other'"
						ng-model="ngDialogData.lead.city_uid">
						<option value="">- Select City -</option>
						<option
							ng-repeat="city in cities | filter:{'state_uid':ngDialogData.lead.state_uid} | orderBy:['city_name']"
							value="{{city.city_uid}}">{{city.city_name}}</option>
						<option value="other">- Not listed -</option>
					</select>
				</div>
			</div>
			<div class="form-group"
				ng-if="ngDialogData.lead.state_uid=='other' || ngDialogData.lead.city_uid=='other'">
				<label class="col-sm-2">Other State</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						ng-required="ngDialogData.lead.state_uid=='other' && !ngDialogData.lead.other_state"
						ng-disabled="ngDialogData.lead.state_uid!='other'"
						ng-model="ngDialogData.lead.other_state">
				</div>
				<label class="col-sm-2">Other City</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"
						ng-required="(ngDialogData.lead.state_uid=='other' || ngDialogData.lead.city_uid=='other') && !ngDialogData.lead.other_city"
						ng-model="ngDialogData.lead.other_city">
				</div>
			</div>
			<hr>
			<div class="form-group" ng-init="getMasterCatalog()">
				<label class="col-sm-2">Category</label>
				<div class="col-sm-4">
					<select class="form-control"
						ng-required="!ngDialogData.lead.category_uid"
						ng-model="ngDialogData.lead.category_uid"
						ng-change="ngDialogData.lead.subcategory_uid=''"
						ng-options="cat.uid as cat.description for cat in categories | filter : {active:1} | orderBy:'description'">
						<option value="">- Select Category -</option>
					</select>
				</div>
				<label class="col-sm-2">Subcategory</label>
				<div class="col-sm-4">
					<select class="form-control"
						ng-required="!ngDialogData.lead.subcategory_uid"
						ng-disabled="!ngDialogData.lead.category_uid"
						ng-model="ngDialogData.lead.subcategory_uid"
						ng-options="scat.uid as scat.description for scat in subcategories | filter : {active:1, categoryuid:ngDialogData.lead.category_uid} | orderBy:'description'">
						<option value="">- Select Subcategory -</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Timeframe</label>
				<div class="col-sm-4" ng-init="loadTimeframes()">
					<select class="form-control"
						ng-required="!ngDialogData.lead.timeframe_uid"
						ng-model="ngDialogData.lead.timeframe_uid"
						ng-options="tf.uid as tf.description for tf in timeframes | filter: {'active':1} | orderBy : 'seq'">
						<option value="">- Select -</option>

					</select>
				</div>
				<label class="col-sm-2">Amount ( <li class="fa fa-inr"></li> )</label>
				<div class="col-sm-4">
					<input type="number" class="form-control" min="0"
						ng-model="ngDialogData.lead.ticket_value"
						ng-required="!ngDialogData.lead.ticket_value">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12">Other Information</label>
				<div class="col-sm-12">
					<textarea rows="4" cols="" class="form-control"
						ng-model="ngDialogData.lead.otherinfo"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 text-left" ng-if="ngDialogData.lead.uid">
					<div class="btn-group dropup">
						<button type="button" class="btn btn-content dropdown-toggle" 
							ng-disabled="savingLead==true  || frmPopup.$invalid"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="changeLeadStatus(ngDialogData.lead, 'Pending Verification', true)"><i class="fa fa-keyboard-o" aria-hidden="true"></i> Submit for Verification</a></li>
							<li><a href="" ng-click="changeLeadStatus(ngDialogData.lead, 'Withdrawn', true)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Withdraw</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="" ng-click="cloneLead(ngDialogData)"><i class="fa fa-clone" aria-hidden="true"></i> Clone</a></li>
						</ul>
					</div>
				</div>
				<div
					ng-class="ngDialogData.lead.uid?'col-sm-6 text-right':'col-sm-12 text-center'">
					<button class="btn btn-content" ng-if="ngDialogData.lead.uid"
						ng-disabled="savingLead==true || frmPopup.$invalid"
						ng-click="saveLead(ngDialogData)">
						Save <i ng-if="savingLead==true" class="fa fa-spinner fa-spin"></i>
					</button>

					<button class="btn btn-content" ng-if="!ngDialogData.lead.uid"
						ng-disabled="savingLead==true || frmPopup.$invalid"
						ng-click="saveLead(ngDialogData)">
						Save in Draft <i ng-if="savingLead==true"
							class="fa fa-spinner fa-spin"></i>
					</button>

					<button type="button" class="btn btn-content"
						ng-if="!ngDialogData.lead.uid"
						ng-disabled="savingLead==true  || frmPopup.$invalid"
						ng-click="saveLead(ngDialogData, 'Pending Verification')">Submit
						for Verification</button>
					<button type="button" class="btn btn-content"
						ng-disabled="savingLead==true" ng-click="closeThisDialog('')">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>