<style>
.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
	width: 800px !important;
	top: -80px !important;
}
</style>
<div class="panel panel-content" style="margin-bottom: 0px;" ng-init="loadSPLeadDetails(true)">
	<div class="panel-heading">
		<span>Lead Information </span>
		<span class="pull-right">{{lead.status}}</span>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" name="frmPopup">

 			<div class="form-group">
				<label class="col-sm-2">UID</label>
				<div class="col-sm-8">
					<span ng-bind="lead.uid"></span>
				</div>
			</div>
 			<div class="form-group">
				<label class="col-sm-2">Name</label>
				<div class="col-sm-4">
					<span ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_name : '&lt;Undisclosed&gt;'"></span>
				</div>
				<label class="col-sm-2">Organization</label>
				<div class="col-sm-4">
					<span ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_org:'&lt;Undisclosed&gt;'"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Mobile</label>
				<div class="col-sm-4">
					<span ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_phone:'&lt;Undisclosed&gt;'"></span>
				</div>
				<label class="col-sm-2">Email</label>
				<div class="col-sm-4">
					<span ng-bind="lead.acceptance_status == 'Accepted' ? lead.client_email:'&lt;Undisclosed&gt;'"></span>
				</div>
			</div>
			<div class="form-group" ng-init="getMasterLocations()">
				<label class="col-sm-2">State</label>
				<div class="col-sm-4">
					<span ng-bind="lead.other_state||lead.state"></span>
				</div>
				<label class="col-sm-2">City</label>
				<div class="col-sm-4">
					<span ng-bind="lead.other_city || lead.city"></span>
				</div>
			</div>
			<hr>
			<div class="form-group" ng-init="getMasterCatalog()">
				<label class="col-sm-2">Category</label>
				<div class="col-sm-4">
					<span ng-bind="lead.category"></span>
				</div>
				<label class="col-sm-2">Subcategory</label>
				<div class="col-sm-4">
					<span ng-bind="lead.subcategory"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2">Timeframe</label>
				<div class="col-sm-4" ng-init="loadTimeframes()">
					<span ng-bind="lead.timeframe"></span>
				</div>
				<label class="col-sm-2">Amount ( <li class="fa fa-inr"></li> )</label>
				<div class="col-sm-4">
					<span>{{lead.ticket_value | number}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-12">Other Information</label>
				<div class="col-sm-12">
					<textarea rows="4" cols="" class="form-control" ng-disabled="true"
						ng-model="lead.otherinfo"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 text-left"
					ng-if="lead.uid">
					<div class="btn-group dropup" ng-if="lead.acceptance_status == 'Viewed'">
						<button type="button" class="btn btn-content dropdown-toggle" 
							ng-disabled="savingLead==true  || frmPopup.$invalid"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="acceptRejectLead('Accepted')"><i class="fa fa-check" aria-hidden="true"></i> Accept</a></li>
							<li><a href="" ng-click="acceptRejectLead('Rejected')"><i class="fa fa-times" aria-hidden="true"></i> Reject</a></li>
						</ul>
					</div>
					<div class="btn-group dropup" ng-if="lead.acceptance_status == 'Accepted'">
						<button type="button" class="btn btn-content dropdown-toggle" 
							ng-disabled="savingLead==true  || frmPopup.$invalid"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="acceptRejectLead('Accepted')"><i class="fa fa-check" aria-hidden="true"></i> Approve</a></li>
							<li><a href="" ng-click="acceptRejectLead('Rejected')"><i class="fa fa-times" aria-hidden="true"></i> Decline</a></li>
						</ul>
					</div>
				</div>
				<div
					ng-class="lead.uid?'col-sm-6 text-right':'col-sm-12 text-center'">
					<button type="button" class="btn btn-content"
						ng-disabled="savingLead==true" ng-click="closeThisDialog('')">Cancel</button>
				</div>
			</div> 
		</form>
	</div>
</div>