<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-controller="leadmgmtCtlr"
     ng-init="init()">

    <breadcrumb class="col-sm-12" ng-model="bcArray"> </breadcrumb>
    <div class="col-sm-12">
        <div ng-init="setDefaultTab('new')">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="selectedTab == 'new' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('new')">New</a>
                </li>
                <li role="presentation"
                    ng-class="selectedTab == 'inprocess' ? 'active' : ''"><a
                        href="javascript://" ng-click="switchTab('inprocess')">In
                        Processs</a></li>
                <li role="presentation" ng-class="selectedTab == 'past' ? 'active' : ''">
                    <a href="javascript://" ng-click="switchTab('past')">Past</a>
                </li>
            </ul>

            <div class="tab-content" ng-if="selectedTab == 'new'">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3" ng-init="getMasterCatalog()">
                                <select class="form-control" ng-model="filter.category_uid"
                                        ng-change="filter.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="filter.subcategory_uid"
                                        ng-disabled="!filter.category_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                    <option value="">All Sub-Categories</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="filter.acceptance_status"
                                        ng-options="s.name as s.label for s in sp_lead_status| filter:{'type':'sp_new'}">
                                    <option value="">Acceptance Status</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default" ng-click="searchLeads(filter)">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                            class="hidden-md hidden-sm">Search</span>
                                </button>
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-eraser" aria-hidden="true"
                                       ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-right" style="width: 120px;">Amount ( <li class="fa fa-inr"></li> )</th>
                        <th class="text-center hidden-sm" style="width: 140px;">Acceptance</th>
                        <th class="text-right hidden-sm" style="width: 80px;">Age (days)</th>
                        <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="7" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr ng-if="loading == false && leadslst.length == 0">
                            <td colspan="7" class="text-center hidden-sm hidden-md">No Records Found</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">No Records Found</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">No Records Found</td>
                        </tr>

                        <tr
                            ng-repeat="lead in leadslst| orderBy : 'name' track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="popupSPLead(lead.uid, selectedTab)"><em>&lt;Undisclosed&gt;</em></a>
                            </td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-right">{{lead.ticket_value| currency}}</td>
                            <td class="text-center hidden-sm">{{lead.acceptance_status}}</td>
                            <td class="text-center hidden-sm">{{lead.age}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon|
								date:'dd-MM-yyyy,hh:mm'}}</td>
                        </tr>

                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tab-content" ng-if="selectedTab == 'inprocess'">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3">
                                <input type="text" class="form-control" placeholder="name"
                                       ng-model="filter.client_name">
                            </div>
                            <div class="col-md-3 hidden-sm">
                                <input type="text" class="form-control"
                                       placeholder="phone number" ng-model="filter.client_phone">
                            </div>
                            <div class="col-md-2 col-sm-3" ng-init="getMasterCatalog()">
                                <select class="form-control" ng-model="filter.category_uid"
                                        ng-change="filter.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select class="form-control" ng-model="filter.subcategory_uid"
                                        ng-disabled="!filter.category_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                    <option value="">All Sub-Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <button class="btn btn-default" ng-click="searchLeads(filter)">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                            class="hidden-md hidden-sm">Search</span>
                                </button>
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-eraser" aria-hidden="true"
                                       ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-right" style="width: 120px;">Amount ( <li class="fa fa-inr"></li> )</th>
                        <th class="text-right hidden-sm" style="width: 80px;">Age (days)</th>
                        <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="7" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr ng-if="loading == false && leadslst.length == 0">
                            <td colspan="7" class="text-center hidden-sm hidden-md">No Records Found</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">No Records Found</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">No Records Found</td>
                        </tr>

                        <tr ng-repeat="lead in leadslst track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editSPLead(lead.uid, selectedTab)">{{lead.client_name}}</a>
                            </td>
                            <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-right">{{lead.ticket_value| currency}}</td>
                            <td class="text-center hidden-sm">{{lead.age}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon|
								date:'dd-MM-yyyy,hh:mm'}}</td>
                        </tr>

                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="tab-content" ng-if="selectedTab == 'past'">
                <div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-3">
                                <input type="text" class="form-control" placeholder="name"
                                       ng-model="filter.client_name">
                            </div>
                            <div class="col-md-2 hidden-sm">
                                <input type="text" class="form-control"
                                       placeholder="phone number" ng-model="filter.client_phone">
                            </div>
                            <div class="col-md-2 col-sm-2" ng-init="getMasterCatalog()">
                                <select class="form-control" ng-model="filter.category_uid"
                                        ng-change="filter.subcategory_uid = ''"
                                        ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" ng-model="filter.subcategory_uid"
                                        ng-disabled="!filter.category_uid"
                                        ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                    <option value="">All Sub-Categories</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <select class="form-control" ng-model="filter.status"
                                        ng-options="s.name as s.name for s in sp_lead_status| filter:{'type':'sp_past'} | orderBy:'name'">
                                    <option value="">All Status</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button class="btn btn-default" ng-click="searchLeads(filter)">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                            class="hidden-md hidden-sm">Search</span>
                                </button>
                                <button class="btn btn-default" type="button">
                                    <span class="fa fa-eraser" aria-hidden="true"
                                       ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-sm-12 table-responsive"
                     ng-init="loadLeads(selectedTab)">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Acceptance</th>
                            <th class="text-center" style="width: 120px;">Status</th>
                            <th class="text-center hidden-sm hidden-md" style="width: 80px;">Age (days)</th>
                            <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="8" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr ng-if="loading == false && leadslst.length == 0">
                            <td colspan="8" class="text-center hidden-sm hidden-md">No Records Found</td>
                            <td colspan="6" class="text-center hidden-sm hidden-lg">No Records Found</td>
                            <td colspan="4" class="text-center hidden-lg hidden-md">No Records Found</td>
                        </tr>

                        <tr ng-repeat="lead in leadslst track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editSPLead(lead.uid, selectedTab)">
                                    {{lead.client_name}}</a> <kbd ng-if="lead.status == 'Approved'"
                                                               class="pull-right hidden-sm hidden-md">{{lead.apr_ticket_value| currency}}</kbd></td>
                            <td class="text-center hidden-sm">{{ lead.acceptance_status
								=='Accepted'? lead.client_phone: 'Undisclosed'}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-center">{{lead.acceptance_status}}</td>
                            <td class="text-center hidden-sm"><kbd
                                    ng-style="{'background-color': (lead.status == 'Approved' ?'#006600':'#990000') }">{{lead.status}}</kbd>
                            </td>
                            <td class="text-center hidden-sm hidden-md">{{lead.age}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon|
								date:'dd-MM-yyyy,hh:mm'}}</td>
                        </tr>
                    </table>

                    <nav ng-if="totalpages > 1 && loading == false">
                        <ul class="pager">
                            <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                        aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="previous" ng-if="prevPage"><a href=""
                                                                     ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                    Previous</a></li>
                            <li>Page {{pgnum}} of {{totalpages}}</li>
                            <li class="next" ng-if="nextPage"><a href=""
                                                                 ng-click="changePage(nextPage)">Next <span
                                        aria-hidden="true">&rarr;</span></a></li>
                            <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                    <span aria-hidden="true">&rarr;</span>
                                </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>