<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-controller="leadmgmtCtlr"
     ng-init="init()">

    <breadcrumb ng-model="bcArray"> </breadcrumb>

    <div ng-init="setDefaultTab('pending')">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="selectedTab == 'pending' ? 'active' : ''">
                <a href="javascript://" ng-click="switchTab('pending')">Pending
                    Verification</a>
            </li>
            <li role="presentation"
                ng-class="selectedTab == 'verified' ? 'active' : ''"><a
                    href="javascript://" ng-click="switchTab('verified')"> Verified</a>
            </li>
            <li role="presentation"
                ng-class="selectedTab == 'inprogress' ? 'active' : ''"><a
                    href="javascript://" ng-click="switchTab('inprogress')">In
                    Progress</a></li>
            <li role="presentation" ng-class="selectedTab == 'past' ? 'active' : ''">
                <a href="javascript://" ng-click="switchTab('past')">Past</a>
            </li>
        </ul>
        <div class="tab-content" ng-if="selectedTab == 'pending'">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-3">
                            <input type="text" class="form-control" placeholder="name"
                                   ng-model="filter.client_name">
                        </div>
                        <div class="col-md-2 hidden-sm">
                            <input type="text" class="form-control"
                                   placeholder="phone number" ng-model="filter.client_phone">
                        </div>
                        <div class="col-md-2 col-sm-3" ng-init="getMasterCatalog()">
                            <select class="form-control" ng-model="filter.category_uid"
                                    ng-change="filter.subcategory_uid = ''"
                                    ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                <option value="">All Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <select class="form-control" ng-model="filter.subcategory_uid"
                                    ng-disabled="!filter.category_uid"
                                    ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                <option value="">All Sub-Categories</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <button class="btn btn-default" ng-click="searchLeads(filter)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                        class="hidden-sm">Search</span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class="fa fa-eraser" aria-hidden="true"
                                   ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-sm">Clear</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12" ng-init="loadLeads(selectedTab)">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>Name</th>
                            <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                            <th style="width: 150px;">Category</th>
                            <th style="width: 150px;">Sub-Category</th>
                            <th class="text-right hidden-sm" style="width: 160px;">Amount ( <li class="fa fa-inr"></li> )</th>
                        <th class="text-center hidden-sm hidden-md" style="width: 80px;">Age (days)</th>
                        <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                        </tr>

                        <tr ng-if="loading == true">
                            <td colspan="7" class="text-center hidden-sm hidden-md">Loading <i
                                    class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="5" class="text-center hidden-sm hidden-lg">Loading <i
                                    class="fa fa-spinner fa-spin"></i></td>
                            <td colspan="3" class="text-center hidden-md hidden-lg">Loading <i
                                    class="fa fa-spinner fa-spin"></i></td>
                        </tr>

                        <tr ng-if="loading == false && leadslst.length == 0">
                            <td colspan="7" class="text-center hidden-sm hidden-md">No Records Found</td>
                            <td colspan="5" class="text-center hidden-sm hidden-lg">No Records Found</td>
                            <td colspan="3" class="text-center hidden-md hidden-lg">No Records Found</td>
                        </tr>

                        <tr
                            ng-repeat="lead in leadslst| filter : {'status':'Pending Verification'} | orderBy : 'name' as filtered track by $index"
                            ng-if="loading == false">
                            <td><a href="" ng-click="editLeadDetail(lead, selectedTab)">{{lead.client_name}}</a>
                            </td>
                            <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                            <td>{{lead.category}}</td>
                            <td>{{lead.subcategory}}</td>
                            <td class="text-right hidden-sm">{{lead.ticket_value| currency}}</td>
                            <td class="text-center hidden-sm hidden-md">{{lead.age}}</td>
                            <td class="text-right hidden-sm hidden-md">{{lead.modifiedon| date:'dd-MM-yyyy
								hh:mm'}}</td>
                        </tr>
                        <tr
                            ng-if="filtered.length == 0 && leadslst.length > 0 && loading == false">
                            <td colspan="7" class="text-center">No Records Found</td>
                        </tr>

                    </table>
                </div>

                <nav ng-if="totalpages > 1 && loading == false">
                    <ul class="pager">
                        <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                    aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="previous" ng-if="prevPage"><a href=""
                                                                 ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                Previous</a></li>
                        <li>Page {{pgnum}} of {{totalpages}}</li>
                        <li class="next" ng-if="nextPage"><a href=""
                                                             ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                        <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                <span aria-hidden="true">&rarr;</span>
                            </a></li>
                    </ul>
                </nav>
            </div>

        </div>

        <div class="tab-content" ng-if="selectedTab == 'verified'">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-3">
                            <input type="text" class="form-control" placeholder="name"
                                   ng-model="filter.client_name">
                        </div>
                        <div class="col-md-2 hidden-sm">
                            <input type="text" class="form-control"
                                   placeholder="phone number" ng-model="filter.client_phone">
                        </div>
                        <div class="col-md-2 col-sm-3" ng-init="getMasterCatalog()">
                            <select class="form-control" ng-model="filter.category_uid"
                                    ng-change="filter.subcategory_uid = ''"
                                    ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                <option value="">All Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <select class="form-control" ng-model="filter.subcategory_uid"
                                    ng-disabled="!filter.category_uid"
                                    ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                <option value="">All Sub-Categories</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <button class="btn btn-default" ng-click="searchLeads(filter)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                        class="hidden-sm">Search</span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class="fa fa-eraser" aria-hidden="true"
                                   ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-sm">Clear</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 table-responsive"
                 ng-init="loadLeads(selectedTab)">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>Name</th>
                        <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                        <th style="width: 150px;">Category</th>
                        <th style="width: 150px;">Sub-Category</th>
                        <th class="text-right hidden-sm" style="width: 160px;">Amount ( <li class="fa fa-inr"></li> )</th>
                    <th class="text-center hidden-md hidden-sm" style="width: 80px;">Age (days)</th>
                    <th class="text-right hidden-md hidden-sm" style="width: 120px;">Modified On</th>
                    </tr>

                    <tr ng-if="loading == true">
                        <td colspan="7" class="text-center hidden-md hidden-sm">Loading <i
                                class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="5" class="text-center hidden-lg hidden-sm">Loading <i
                                class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="3" class="text-center hidden-lg hidden-md">Loading <i
                                class="fa fa-spinner fa-spin"></i></td>
                    </tr>

                    <tr ng-if="loading == false && leadslst.length == 0">
                        <td colspan="7" class="text-center hidden-md hidden-sm">No Records Found</td>
                        <td colspan="5" class="text-center hidden-lg hidden-sm">No Records Found</td>
                        <td colspan="3" class="text-center hidden-lg hidden-md">No Records Found</td>
                    </tr>

                    <tr
                        ng-repeat="lead in leadslst| filter : {'status':'Verified'} | orderBy : 'name' as filtered track by $index"
                        ng-if="loading == false">
                        <td><a href="" ng-click="editLeadDetail(lead, selectedTab)">{{lead.client_name}}</a>
                        </td>
                        <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                        <td>{{lead.category}}</td>
                        <td>{{lead.subcategory}}</td>
                        <td class="text-right hidden-sm">{{lead.ticket_value| currency}}</td>
                        <td class="text-center hidden-md hidden-sm">{{lead.age}}</td>
                        <td class="text-right hidden-md hidden-sm">{{lead.modifiedon|
							date:"dd-MM-yyyy,hh:mm"}}</td>
                    </tr>
                    <tr
                        ng-if="filtered.length == 0 && leadslst.length > 0 && loading == false">
                        <td colspan="7" class="text-center">No Records Found</td>
                    </tr>

                </table>

                <nav ng-if="totalpages > 1 && loading == false">
                    <ul class="pager">
                        <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                    aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="previous" ng-if="prevPage"><a href=""
                                                                 ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                Previous</a></li>
                        <li>Page {{pgnum}} of {{totalpages}}</li>
                        <li class="next" ng-if="nextPage"><a href=""
                                                             ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                        <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                <span aria-hidden="true">&rarr;</span>
                            </a></li>
                    </ul>
                </nav>
            </div>

        </div>

        <div class="tab-content" ng-if="selectedTab == 'inprogress'">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-3">
                            <input type="text" class="form-control" placeholder="name"
                                   ng-model="filter.client_name">
                        </div>
                        <div class="col-md-2 hidden-sm">
                            <input type="text" class="form-control"
                                   placeholder="phone number" ng-model="filter.client_phone">
                        </div>
                        <div class="col-md-2 col-sm-2" ng-init="getMasterCatalog()">
                            <select class="form-control" ng-model="filter.category_uid"
                                    ng-change="filter.subcategory_uid = ''"
                                    ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                <option value="">All Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <select class="form-control" ng-model="filter.subcategory_uid"
                                    ng-disabled="!filter.category_uid"
                                    ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                <option value="">All Sub-Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <select class="form-control" ng-model="filter.sp_approvals">
                                <option value="">- All Approvals -</option>
                                <option value="Approved">Approved</option>
                                <option value="Approved by some">Approved by some</option>
                                <option value="In Progress">In Progress</option>
                                <option value="None Accepted">None Accepted</option>
                                <option value="Declined">Declined</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Terminated">Terminated</option>

                            </select>

                        </div>


                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-default" ng-click="searchLeads(filter)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                        class="hidden-md hidden-sm">Search</span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class="fa fa-eraser" aria-hidden="true"
                                   ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-sm hidden-md">Clear</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 table-responsive"
                 ng-init="loadLeads(selectedTab)">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>Name</th>
                        <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                        <th style="width: 150px;">Category</th>
                        <th style="width: 150px;">Sub-Category</th>
                        <th class="text-right hidden-sm" style="width: 160px;">Amount ( <li class="fa fa-inr"></li> )</th>
                    <th class="text-center" style="width: 100px;">SP Approvals</th>
                    <th class="text-center hidden-sm hidden-md" style="width: 80px;">Age (days)</th>
                    <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                    </tr>

                    <tr ng-if="loading == true">
                        <td colspan="8" class="text-center hidden-md hidden-sm">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="6" class="text-center hidden-lg hidden-sm">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                    </tr>

                    <tr ng-if="loading == false && leadslst.length == 0">
                        <td colspan="8" class="text-center hidden-md hidden-sm">No Records Found</td>
                        <td colspan="6" class="text-center hidden-lg hidden-sm">No Records Found</td>
                        <td colspan="4" class="text-center hidden-lg hidden-md">No Records Found</td>
                    </tr>

                    <tr
                        ng-repeat="lead in leadslst| filter : {'status' : 'In Progress'} | orderBy : 'sp_approvals' as filtered track by $index"
                        ng-if="loading == false">
                        <td><a href="" ng-click="editLeadDetail(lead, selectedTab)">{{lead.client_name}}</a>
                            <kbd class="pull-right hidden-sm hidden-md">Shared with {{lead.total_count}}</kbd></td>
                        <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                        <td>{{lead.category}}</td>
                        <td>{{lead.subcategory}}</td>
                        <td class="text-right hidden-sm">{{lead.ticket_value| currency}}</td>
                        <td class="text-center">
                            <div ng-switch="lead.sp_approvals" style="font-size: 120%;"
                                 tooltips tooltip-template="{{lead.sp_approvals}}" tooltip-side="right"
                                 >
                                <li ng-switch-when="Rejected" class="fa fa-thumbs-o-down"
                                    style="color: #990000" title="{{lead.sp_approvals}}"></li>
                                <li ng-switch-when="Declined" class="fa fa-thumbs-down"
                                    style="color: #990000" title="{{lead.sp_approvals}}"></li>
                                <li ng-switch-when="Terminated" class="fa fa-ban"
                                    style="color: #990000" title="{{lead.sp_approvals}}"></li>

                                <li ng-switch-when="Approved" class="fa fa-thumbs-up"
                                    style="color: #006600" title="{{lead.sp_approvals}}"></li>
                                <li ng-switch-when="None Accepted" class="fa fa-clock-o"
                                    style="color: #000000" title="{{lead.sp_approvals}}"></li>
                                <li ng-switch-when="Approved by some" class="fa fa-thumbs-o-up"
                                    style="color: #006600" title="{{lead.sp_approvals}}"></li>
                                <li ng-switch-when="In Progress" class="fa fa-hand-o-right"
                                    style="color: #006600" title="{{lead.sp_approvals}}"></li> <span
                                    ng-switch-default>{{lead.sp_approvals}}</span>
                            </div>
                        </td>
                        <td class="text-center hidden-md hidden-sm">{{lead.age}}</td>
                        <td class="text-right hidden-md hidden-sm">{{lead.modifiedon|
							date:'dd-MM-yyyy,hh:mm'}}</td>
                    </tr>
                    <tr
                        ng-if="filtered.length == 0 && loading == false && leadslst.length > 0">
                        <td colspan="8" class="text-center">No Records Found</td>
                    </tr>

                </table>

                <nav ng-if="totalpages > 1 && loading == false">
                    <ul class="pager">
                        <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                    aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="previous" ng-if="prevPage"><a href=""
                                                                 ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                Previous</a></li>
                        <li>Page {{pgnum}} of {{totalpages}}</li>
                        <li class="next" ng-if="nextPage"><a href=""
                                                             ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                        <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                <span aria-hidden="true">&rarr;</span>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="tab-content" ng-if="selectedTab == 'past'">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-3">
                            <input type="text" class="form-control" placeholder="name"
                                   ng-model="filter.client_name">
                        </div>
                        <div class="col-md-2 hidden-sm">
                            <input type="text" class="form-control"
                                   placeholder="phone number" ng-model="filter.client_phone">
                        </div>
                        <div class="col-md-2 col-sm-2" ng-init="getMasterCatalog()">
                            <select class="form-control" ng-model="filter.category_uid"
                                    ng-change="filter.subcategory_uid = ''"
                                    ng-options="cat.uid as cat.description for cat in categories| filter : {active:1} | orderBy:'description'">
                                <option value="">All Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <select class="form-control" ng-model="filter.subcategory_uid"
                                    ng-disabled="!filter.category_uid"
                                    ng-options="scat.uid as scat.description for scat in subcategories| filter : {active:1, categoryuid:filter.category_uid} | orderBy:'description'">
                                <option value="">All Sub-Categories</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <select class="form-control" ng-model="filter.status"
                                    ng-options="s.name as s.name for s in all_status| filter:{'type':'past'} | orderBy:'name'">
                                <option value="">All Status</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button class="btn btn-default" ng-click="searchLeads(filter)">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;<span
                                        class="hidden-md hidden-sm">Search</span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class="fa fa-eraser" aria-hidden="true"
                                   ng-click="clearSearch(filter)"></span>&nbsp;<span class="hidden-md hidden-sm">Clear</span>
                            </button>

                        </div>
                    </div>
                </form>
            </div>


            <div class="col-sm-12 table-responsive"
                 ng-init="loadLeads(selectedTab)">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>Name</th>
                        <th class="text-center hidden-sm" style="width: 120px;">Phone</th>
                        <th style="width: 150px;">Category</th>
                        <th style="width: 150px;">Sub-Category</th>
                        <th class="text-center" style="width: 80px;">Status</th>
                        <th class="text-center hidden-sm" style="width: 80px;">Age (days)</th>
                        <th class="text-right hidden-sm hidden-md" style="width: 120px;">Modified On</th>
                    </tr>

                    <tr ng-if="loading == true">
                        <td colspan="7" class="text-center hidden-sm hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="6" class="text-center hidden-sm hidden-lg">Loading <i class="fa fa-spinner fa-spin"></i></td>
                        <td colspan="4" class="text-center hidden-lg hidden-md">Loading <i class="fa fa-spinner fa-spin"></i></td>
                    </tr>

                    <tr ng-if="loading == false && leadslst.length == 0">
                        <td colspan="7" class="text-center hidden-sm hidden-md">No Records Found</td>
                        <td colspan="6" class="text-center hidden-sm hidden-lg">No Records Found</td>
                        <td colspan="4" class="text-center hidden-lg hidden-md">No Records Found</td>
                    </tr>

                    <tr ng-repeat="lead in leadslst| orderBy : 'name' track by $index"
                        ng-if="loading == false">
                        <td><a href="" ng-click="editLeadDetail(lead, selectedTab)">{{lead.client_name}}</a>
                            <kbd ng-if="lead.status == 'Completed'"
                                 class="pull-right hidden-sm hidden-md"> {{lead.apr_ticket_value|
								currency}} </kbd></td>
                        <td class="text-center hidden-sm">{{lead.client_phone}}</td>
                        <td>{{lead.category}}</td>
                        <td>{{lead.subcategory}}</td>
                        <td class="text-center">


                            <div ng-switch="lead.status" style="font-size: 120%;" 
                                 tooltips tooltip-template="{{lead.status}}" tooltip-side="right"
                                 >

                                <li ng-switch-when="Completed" class="fa fa-thumbs-up"
                                    style="color: #006600" title="{{lead.status}}"></li>
                                <li ng-switch-when="Withdrawn" class="fa fa-exclamation-circle"
                                    style="color: #990000" title="{{lead.status}}"></li>
                                <li ng-switch-when="Verification Failed"
                                    class="fa fa-thumbs-down" style="color: #990000"
                                    title="{{lead.status}}"></li>
                                <li ng-switch-when="Declined" class="fa fa-thumbs-o-down"
                                    style="color: #990000" title="{{lead.status}}"></li>
                                <li ng-switch-when="Rejected By All" class="fa fa-thumbs-down"
                                    style="color: #990000" title="{{lead.status}}"></li>

                                <li ng-switch-when="Terminated" class="fa fa-thumbs-down"
                                    style="color: #990000" title="{{lead.status}}"></li>
                                <li ng-switch-when="Invalid Lead" class="fa fa-ban"
                                    style="color: #990000" title="{{lead.status}}"></li> <span
                                    ng-switch-default>{{lead.sp_approvals}}</span>
                            </div>



                        </td>
                        <td class="text-center hidden-sm">{{lead.age}}</td>
                        <td class="text-right hidden-sm hidden-md">{{lead.modifiedon|
							date:'dd-MM-yyyy,HH:mm'}}</td>
                    </tr>
                </table>

                <nav ng-if="totalpages > 1 && loading == false">
                    <ul class="pager">
                        <li class="previous disabled" ng-if="!prevPage"><a href=""><span
                                    aria-hidden="true">&larr;</span> Previous</a></li>
                        <li class="previous" ng-if="prevPage"><a href=""
                                                                 ng-click="changePage(prevPage)"><span aria-hidden="true">&larr;</span>
                                Previous</a></li>
                        <li>Page {{pgnum}} of {{totalpages}}</li>
                        <li class="next" ng-if="nextPage"><a href=""
                                                             ng-click="changePage(nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                        <li class="next disabled" ng-if="!nextPage"><a href="">Next
                                <span aria-hidden="true">&rarr;</span>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>