
<div class="panel panel-content">
	<div class="panel-heading">Mobile Number</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div style="padding-bottom: 5px;">
				<input type="text" class="form-control" maxlength="15" phonetype
				pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$"
					ng-model="ngDialogData.user.mobilenum">
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1" ng-click="updateMobile(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='updatingmobile'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content" ng-disabled="eventinprogress==1"
					ng-click="closeThisDialog('')">Cancel</button>
			</div>

		</form>
	</div>
</div>