
<div class="panel panel-content">
	<div class="panel-heading">Verification OTP</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div style="padding-bottom: 5px;">
				<input type="text" class="form-control"
					ng-model="ngDialogData.userotp">
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1" ng-click="verifyOTP(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='verifyingotp'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content" ng-disabled="eventinprogress==1"
					ng-click="closeThisDialog('')">Cancel</button>
			</div>

		</form>
	</div>
</div>