
<div class="panel panel-content">
	<div class="panel-heading">Change Password</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div style="padding-bottom: 5px;">
				<input type="password" class="form-control" placeholder="current password"
					ng-model="ngDialogData.currentpasswd">
			</div>
			<div style="padding-bottom: 5px;">
				<input type="password" class="form-control" placeholder="new password"
					ng-model="ngDialogData.newpasswd1">
			</div>
			<div style="padding-bottom: 5px;">
				<input type="password" class="form-control" placeholder="confirm password"
					ng-model="ngDialogData.newpasswd2">
			</div>
			<div class="pull-right">
				<button class="btn btn-content" ng-disabled="eventinprogress==1" ng-click="updatePassword(ngDialogData)">
					Submit <i
						ng-if="eventinprogress == true && eventmessage=='changepwd'"
						class="fa fa-spinner fa-spin"></i>
				</button>
				<button type="button" class="btn btn-content" ng-disabled="eventinprogress==1"
					ng-click="closeThisDialog('')">Cancel</button>
			</div>

		</form>
	</div>
</div>