<div ng-include="'./views/menu/user-menu.html'"></div>

<div class="container-fluid" ng-init="init()">
	<breadcrumb ng-model="bcArray"></breadcrumb>

	<div>

		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="selectedTab=='info'?'active':''">
				<a href="javascript://" ng-click="switchTab('info')">Profile</a>
			</li>
			<li role="presentation" ng-if="utype=='lg'"
				ng-class="selectedTab=='bank'?'active':''"><a
				href="javascript://" ng-click="switchTab('bank')">Bank</a>
			</li>
			<li role="presentation" ng-if="utype!='su'"
				ng-class="selectedTab=='documents'?'active':''"><a
				href="javascript://" ng-click="switchTab('documents')">Documents</a>
			</li>
		</ul>
		<div ng-if="selectedTab=='info'" class="tab-content"
			ng-init="loadInfoTab()">

			<div ng-if="loading==true" class="text-center"
				style="min-height: 400px; vertical-align: bottom;">
				Loading <i class="fa fa-spinner fa-spin"></i>
			</div>


			<div ng-if="loading==false" style="overflow: auto;">
				<form class="form-horizontal" name="pageForm">

					<div ng-if="user.utype.toLowerCase() != 'sp'">
						<div class="form-group col-md-6" ng-if="user.uid">
							<label class="col-sm-3">UID</label>
							<div class="col-sm-9">
								<span>{{user.uid}}</span>
							</div>
						</div>
						<div class="form-group col-md-6" ng-if="user.uid">
							<label class="col-sm-3">Username</label>
							<div class="col-sm-9" style="padding-left: 0px;">
								<span class="col-sm-6">{{user.uname}}</span>
								<div class="col-sm-6" style="padding-right:0px;">
									<button type="button" class="btn btn-content btn-sm pull-right"
										ng-click="changePassword()"
										ng-disabled="eventinprogress == true">
										Change Password <i
											ng-if="eventinprogress == true && eventmessage=='resetpwd'"
											class="fa fa-spinner fa-spin"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label class="col-sm-3">Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="txtName"
									placeholder="name" data-ng-model="user.name" required
									text-title 
									autofocus="autofocus">
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Organization</label>
							<div class="col-sm-9">
								<span class="form-control" ng-if="utype=='su'">LeadPassers.com</span>
								<input type="text" ng-if="utype!='su'" class="form-control" id="txtOrg"
									placeholder="organization name" text-org-name
									data-ng-model="user.organization" autofocus="autofocus">
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Email</label>
							<div class="col-sm-9">
								<span><a href="" ng-click="editEmail()">{{user.email
										|| '(not set)'}}</a></span>
								<button type="button" class="btn btn-content btn-sm pull-right"
									ng-if="user.emailverified==0"
									ng-click="resendValidationEmail()"
									ng-disabled="eventinprogress == true">
									Resend Email <i
										ng-if="eventinprogress == true && eventmessage=='emailing'"
										class="fa fa-spinner fa-spin"></i>
								</button>
								<span ng-if="user.emailverified==1" class="pull-right"> <em>(verified)</em>
								</span>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Mobile</label>
							<div class="col-sm-9">
								<span><a href="" ng-click="editMobile()">{{user.mobilenum
										|| '(not set)'}}</a></span> <span ng-if="user.mobileverified==1"
									class="pull-right"> <em>(verified)</em>
								</span> <span ng-if="!user.mobileverified || user.mobileverified==0"
									class="pull-right"> <em>(not verified)</em>
								</span>
							</div>
						</div>
						<div class="form-group col-md-6"
							ng-if="utype=='lg' || utype == 'su'">
							<label class="col-sm-3">Date of Birth</label>
							<div class="col-sm-9">
								<datepicker date-format="dd MMM yyyy"
									date-max-limit="{{maxDoB | date:'MM/dd/yyyy'}}"
									date-set="{{ user.dob | date:'MM/dd/yyyy' }}"> <input
									ng-required="utype=='lg'" ng-model="user.dob" type="text"
									class="form-control" readonly placeholder="date of birth">
								</datepicker>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Gender</label>
							<div class="col-sm-9">
								<select class="form-control" data-ng-model="user.gender"
									required>
									<option value="">- Select -</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Address 1</label>
							<div class="col-sm-9">
								<input type="text" class="form-control"
									data-ng-model="user.address1">
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Address 2</label>
							<div class="col-sm-9">
								<input type="text" class="form-control"
									data-ng-model="user.address2">
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">City</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" text-title 
									data-ng-model="user.city" required>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">State</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" text-title 
									data-ng-model="user.state" required>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="col-sm-3">Pincode</label>
							<div class="col-sm-9">
								<input type="text" class="form-control"
									pattern="\d{5,6}$" maxlength="6" phonetype
									data-ng-model="user.pincode">
							</div>
						</div>
					</div>
					<div ng-if="user.utype.toLowerCase() == 'sp'">

						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label class="col-sm-4">UID</label>
								<div class="col-sm-8">
									<span>{{user.uid}}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Organization</label>
								<div class="col-sm-8" ng-if="utype!='su'">
									<span class="form-control required">{{user.organization}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4">Address 1</label>
								<div class="col-sm-8">
									<span class="form-control">{{user.address1}}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Address 2</label>
								<div class="col-sm-8">
									<span class="form-control">{{user.address2}}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">City</label>
								<div class="col-sm-8">
									<span class="form-control required">{{user.city}}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">State</label>
								<div class="col-sm-8">
									<span class="form-control required">{{user.state}}</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Pincode</label>
								<div class="col-sm-8">
									<span class="col-sm-8" style="padding-left: 0px;"> <span
										class="form-control">{{user.pincode}}</span>
									</span>
									<div class="col-sm-4" style="padding-right: 0px;">
										<kbd style="background-color: #006600" class="pull-right"
											ng-if="user.active==1">Active</kbd>
										<kbd style="background-color: #990000" class="pull-right"
											ng-if="user.active==0">Inactive</kbd>

									</div>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Username</label>
								<div class="col-sm-8">
									<div class="col-sm-8" style="padding-left: 0px;">
										<span class="form-control required">{{user.uname}}</span>
									</div>
									<div class="col-sm-4" style="padding-right: 0px;">
										<button type="button"
											class="btn btn-content btn-sm pull-right"
											ng-click="changePassword()"
											ng-disabled="eventinprogress == true">
											Change Password <i
												ng-if="eventinprogress == true && eventmessage=='resetpwd'"
												class="fa fa-spinner fa-spin"></i>
										</button>
									</div>
								</div>
							</div>

						</div>

						<div class="col-md-6 col-sm-12">

							<div class="form-group">
								<label class="col-sm-12"><u>Primary Contact Details</u></label>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtName"
										placeholder="name" data-ng-model="user.name" text-title 
										autofocus="autofocus" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Email</label>
								<div class="col-sm-8">
									<input type="email" ng-model="user.email" class="form-control"
										placeholder="email" id="txtEmail" required>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Mobile</label>
								<div class="col-sm-8">
									<input type="tel" ng-model="user.mobilenum"
										class="form-control" placeholder="mobile" id="txtMobile"
										required maxlength="15" phonetype
										pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12"><u>Alternate Contact
										Details</u></label>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="txtName2"
										placeholder="name" data-ng-model="user.name2" text-title 
										autofocus="autofocus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Email</label>
								<div class="col-sm-8">
									<input type="email" ng-model="user.email2" class="form-control"
										placeholder="email" id="txtEmail2">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4">Mobile</label>
								<div class="col-sm-8">
									<input type="tel" ng-model="user.mobilenum2"
										class="form-control" placeholder="mobile" id="txtMobile2"
										maxlength="15" phonetype
										pattern="(([\+])?\d{1,2}([\s\.-])?)?\(?\d{3}\)?([\s.-])?\d{3}([\s.-])?\d{4}$">
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<hr>

						<div class="form-group text-center">
							<button type="button" class="btn btn-content"
								ng-click="saveInfoTab(user)"
								ng-disabled="eventinprogress == true || pageForm.$invalid">
								Save <i
									ng-if="eventinprogress == true && eventmessage=='saving'"
									class="fa fa-spinner fa-spin"></i>
							</button>
							<button type="button" class="btn btn-content"
								ng-click="resetInfoTab()" ng-disabled="eventinprogress == true">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div ng-if="selectedTab=='bank'" class="tab-content">
			<div ng-include="'./views/lg/bankdetails.html'"></div>
		</div>
		<div ng-if="selectedTab=='documents'" class="tab-content">
			<div ng-include="'./views/documents/list.html'"></div>
		</div>
	</div>
</div>
